<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gazelle="http://www.ihe.net/gazelle" xmlns:rich="http://richfaces.org/rich"
                xmlns:gdk="http://www.ihe.net/gazellecdk" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns="http://www.w3.org/1999/xhtml"
                template="/layout/template.xhtml">
    <ui:param name="pageNameUrl" value="/dicomSCPScreenerResult.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.DicomSCPScreenerDetailsResult']}"/>
    <ui:define name="header">
        <h:outputScript library="jscript" name="table.js"/>
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="resultForm">
            #{dicomSCPScreenerResultDisplay.initFromUrl()}
            <s:div id="validationResultPanel"><!-- <rich:panel id="public"
					rendered="#{identity.loggedIn
							and dicomSCPScreenerResultDisplay.selectedObject.privateUser == identity.username}">
					<f:facet name="header">Actions</f:facet>
					<s:div
						rendered="#{identity.loggedIn and not dicomSCPScreenerResultDisplay.selectedObject.isPublic}">
						<a4j:commandButton value="Make this result public"
							title="Everybody will have access to this result"
							actionListener="#{dicomSCPScreenerResultDisplay.makeResultPublic()}"
							reRender="public"
							onclick="Richfaces.showModalPanel('panelLoading');"
							oncomplete="Richfaces.hideModalPanel('panelLoading');"
							styleClass="btn btn-default" />
						<rich:spacer width="10px" />
						<a4j:commandButton value="share this result"
							title="Only the users who know the permanent link will have access to this result"
							actionListener="#{dicomSCPScreenerResultDisplay.shareResult()}"
							reRender="public"
							rendered="#{empty dicomSCPScreenerResultDisplay.selectedObject.privacyKey}"
							onclick="Richfaces.showModalPanel('panelLoading');"
							oncomplete="Richfaces.hideModalPanel('panelLoading');"
							styleClass="btn btn-default" />
					</s:div>
					<a4j:commandButton value="Make this result private"
						title="This result will only be accessible by you and monitors"
						rendered="#{identity.loggedIn 
							and dicomSCPScreenerResultDisplay.selectedObject.isPublic 
							and dicomSCPScreenerResultDisplay.selectedObject.privateUser == identity.username}"
						actionListener="#{dicomSCPScreenerResultDisplay.makeResultPrivate()}"
						reRender="public"
						onclick="Richfaces.showModalPanel('panelLoading');"
						oncomplete="Richfaces.hideModalPanel('panelLoading');"
						styleClass="btn btn-default" />
				</rich:panel> --><br/><!-- general information -->
                <s:div>
                    <rich:panel styleClass="styleResultBackground" id="generalInfoPanel">
                        <f:facet name="header">#{messages['gazelle.evs.client.information']}</f:facet>

                        <s:div style="text-align:center;width: 30%"
                               rendered="#{identity.loggedIn and not dicomSCPScreenerResultDisplay.selectedObject.isPublic}">
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPublic']}"
                                               title="#{messages['net.ihe.gazelle.EVSClient-ui.EverybodyWillHaveAccessToThisResult']}"
                                               actionListener="#{dicomSCPScreenerResultDisplay.makeResultPublic()}"
                                               styleClass="btn btn-default" render="resultForm:generalInfoPanel"/>
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.ShareThisResult']}"
                                               title="#{messages['net.ihe.gazelle.EVSClient-ui.OnlyTheUsersWhoKnowThePermanentLinkWillHaveAcces']}"
                                               actionListener="#{dicomSCPScreenerResultDisplay.shareResult()}"
                                               rendered="#{empty dicomSCPScreenerResultDisplay.selectedObject.privacyKey}"
                                               styleClass="btn btn-default" render="resultForm:generalInfoPanel"/>
                        </s:div>
                        <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPrivate']}"
                                           title="#{messages['net.ihe.gazelle.EVSClient-ui.ThisResultWillOnlyBeAccessibleByYouAndMonitors']}"
                                           rendered="#{identity.loggedIn         and dicomSCPScreenerResultDisplay.selectedObject.isPublic         and dicomSCPScreenerResultDisplay.selectedObject.privateUser == identity.username}"
                                           actionListener="#{dicomSCPScreenerResultDisplay.makeResultPrivate()}"
                                           styleClass="btn btn-default" render="resultForm:generalInfoPanel"/>
                    </rich:panel>
                    <br/><br/></s:div>
                <rich:panel>
                    <f:facet name="header">#{messages['net.ihe.gazelle.evs.DetailsResult']}</f:facet>
                    <h:commandButton styleClass="btn btn-default"
                                     value="#{messages['gazelle.evs.client.download.result']}"
                                     action="#{dicomSCPScreenerResultDisplay.downloadResultAsXml()}"/>
                    <h:outputText value="#{dicomSCPScreenerResultDisplay.resultAsHtml()}" escape="false"/>
                </rich:panel>
            </s:div>
        </h:form>
    </ui:define>
</ui:composition>
