<!--
~ EVS Client is part of the Gazelle Test Bed
~ Copyright (C) 2006-2016 IHE
~ mailto :eric DOT poiseau AT inria DOT fr
~
~ See the NOTICE file distributed with this work for additional information
~ regarding copyright ownership.  This code is licensed
~ to you under the Apache License, Version 2.0 (the
~ "License"); you may not use this file except in compliance
~ with the License.  You may obtain a copy of the License at
~
~   http://www.apache.org/licenses/LICENSE-2.0
~
~ Unless required by applicable law or agreed to in writing,
~ software distributed under the License is distributed on an
~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~ KIND, either express or implied.  See the License for the
~ specific language governing permissions and limitations
~ under the License.
-->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.MessageContentAnalyzer']}"/>
    <ui:param name="pageNameUrl" value="messageContentAnalyzer.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.MessageContentAnalyzer']}"/>
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
    </ui:define>
    <ui:define name="body">
        #{analyzerBean.init()}
        <s:div id="globalDiv">
            <h:form id="globalForm">
                <s:token id="globalFormTokenId" allowMultiplePosts="true"/>

                <s:div rendered="#{analyzerBean.parentFileToValidate.isEmpty()}">

                    <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml" >


                        <ui:param name="panel_id" value="validatorPanel"/>
                        <ui:define name="panel_title">
                            <h:outputText value="#{messages['net.ihe.gazelle.evs.MessageContentAnalyzer']}"/>
                            <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{analyzerBean.reset()}"
                                             render="@form" execute="globalFormTokenId">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                        </ui:define>




                        <div class="form-inline">

                            <s:div id="uploadFile" >
                                <s:div rendered="#{analyzerBean.analyzedObject == null}">

                                    <h:outputText id="fileUploadInfo"
                                                  value="#{messages['net.ihe.gazelle.evs.PleaseUploadTheMessageYouWantToAnalyzeOnlyFilesU']}"/>

                                    <rich:fileUpload
                                            fileUploadListener="#{analyzerBean.uploadListener}"
                                            maxFilesQuantity="1"
                                            listHeight="60px"
                                            immediateUpload="true">
                                        <a4j:ajax event="uploadcomplete" render="globalForm, panel_footer_id, uploadFile, fileNameInfo, :resultForm" execute="globalFormTokenId"/>
                                    </rich:fileUpload>
                                </s:div>

                            </s:div>

                            <s:div id="fileNameInfo" rendered="#{analyzerBean.analyzedObject != null}" styleClass="form-horizontal">

                                <s:decorate template="/layout/display/_data_list_item.xhtml">
                                    <ui:define name="label">#{messages['net.ihe.gazelle.evs.FileBeingAnalyzed']}</ui:define>
                                    <h:outputText  value="#{analyzerBean.analyzedObject.description}"  />
                                </s:decorate>

                                <s:decorate template="/layout/form/_checkbox.xhtml">
                                    <ui:param name="id" value="cb"/>
                                    <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.ShowContent']} </ui:define>
                                    <h:selectBooleanCheckbox id="cb" value="#{analyzerBean.showMessageInGUI}">
                                        <a4j:ajax event="change" render="viewMessage"/>
                                    </h:selectBooleanCheckbox>
                                </s:decorate>

                                <s:div id="viewMessage">
                                    <s:div id="displayTopViewMessage" rendered="#{analyzerBean.showMessageInGUI }">
                                        <s:decorate template="/layout/form/_checkbox.xhtml">
                                            <ui:param name="id" value="cb2"/>
                                            <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.IndentContent']}</ui:define>
                                            <h:selectBooleanCheckbox id="cb2" value="#{analyzerBean.indentMessageInGUI}">
                                                <a4j:ajax event="change" render="viewMessage"/>
                                            </h:selectBooleanCheckbox>
                                        </s:decorate>
                                        <s:div id="indentedMessage" rendered="#{analyzerBean.indentMessageInGUI }">
                                            <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.TheFollowingContentHasBeenModifiedindentedForBet']}"/>
                                            <h:inputTextarea id="messagearea1" readonly="true" style="float: left" styleClass="xml-indented"
                                                             value="#{analyzerBean.getFileContent()}"
                                                             cols="128" rows="20" maxlength="2048">
                                            </h:inputTextarea>
                                        </s:div>
                                        <s:div id="RawMessage" rendered="#{!analyzerBean.indentMessageInGUI }">
                                            <h:inputTextarea id="messagearea2" readonly="true" style="float: left"
                                                             value="#{analyzerBean.getFileContent()}"
                                                             cols="128" rows="20" maxlength="2048">
                                            </h:inputTextarea>
                                        </s:div>
                                    </s:div>
                                </s:div>

                            </s:div>
                        </div>

                        <ui:define name="panel_footer">

                            <s:div id="panel_footer_id" styleClass="gzl-never-wrap">
                                <a4j:commandButton styleClass="gzl-btn" value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                                   actionListener="#{analyzerBean.reset()}" render="globalForm,:resultForm" execute="globalFormTokenId"/>
                                <a4j:commandButton styleClass="gzl-btn-blue" value="#{messages['net.ihe.gazelle.evs.Analyze']}"
                                                   actionListener="#{analyzerBean.execute(analyzerBean.analyzedObject.objectPath)}"
                                                   rendered="#{analyzerBean.analyzedObject != null}"
                                                   render="globalForm,:resultForm" execute="globalFormTokenId"/>
                                <a4j:commandButton styleClass="gzl-btn-blue" id="reusedMessageButton" action="#{objectForValidatorDetectorResultDisplay.revalidate()}"
                                                   value="#{messages['net.ihe.gazelle.ReAnalyze']}" rendered="#{!analyzerBean.parentFileToValidate.isEmpty()}" execute="globalFormTokenId"/>
                            </s:div>
                        </ui:define>
                    </ui:decorate>

                </s:div>

            </h:form>

        </s:div>


        <h:form id="resultForm">
            <s:token id="resultFormTokenId" allowMultiplePosts="true"/>
            <s:div id="validationResultPanel" rendered="#{!analyzerBean.parentFileToValidate.isEmpty()}">

                #{objectForValidatorDetectorResultDisplay.init(analyzerBean.analyzedObject.oid, null)}

                <ui:include src="/common/messageContentAnalyzerInfoPanel.xhtml">
                    <ui:param name="objectParam" value="#{objectForValidatorDetectorResultDisplay.selectedObject}"/>
                </ui:include>

                <ui:include src="/common/messageContentAnalyzerResultDiv.xhtml" />

            </s:div>
        </h:form>

    </ui:define>
</ui:composition>
