<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="/layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['gazelle.evs.client.remote.validator.title']}"/>
    <ui:param name="pageNameUrl" value="validate.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.evs.client.remote.validator.title']}"/>
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
    </ui:define>
    <ui:define name="body">
        #{analyzerBean.init()}
        <s:div id="globalDiv">
            <h:form id="globalForm">
                <ui:decorate template="/layout/panels/_panel_title_footer.xhtml">

                    <ui:define name="panel_title">
                        <h:outputText value="#{messages['gazelle.evs.client.remote.validator.title']}"/>

                                <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{analyzerBean.reset()}"
                                             render="@form">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                    </ui:define>

                    <div class="form-horizontal">

                        <s:decorate id="validatorDeco" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="validatorType"/>
                            <ui:define name="label">#{messages['gazelle.evs.client.remote.validator.select']} :</ui:define>
                            <h:selectOneMenu id="validatorType" value="#{remoteValidator.validator}"
                                             styleClass="form-control gzl-form-control gzl-select-text" >
                                <f:selectItems value="#{remoteValidator.getValidators()}"/>
                                <a4j:ajax event="change" render="standardSelectionDiv"
                                          listener="#{remoteValidator.getExtensionsForSelectedValidator()}"/>
                            </h:selectOneMenu>
                        </s:decorate>
                        <s:div id="standardSelectionDiv">
                            <s:decorate template="/layout/form/_form_field_horizontal_3-9.xhtml" rendered="#{not empty remoteValidator.extensions}">
                                <ui:param name="id" value="extensionSelection"/>
                                <ui:define name="label">#{messages['net.ihe.gazelle.evs.Extension']}</ui:define>
                                <h:selectOneMenu id="extensionSelection" value="#{remoteValidator.selectedExtension}"
                                                 styleClass="form-control gzl-form-control gzl-select-text">
                                    <s:selectItems value="#{remoteValidator.extensions}" var="item" label="#{item}"
                                                   noSelectionLabel="#{messages['gazelle.common.PleaseSelect']}"/>
                                </h:selectOneMenu>
                            </s:decorate>
                        </s:div>
                        <s:div rendered="#{empty remoteValidator.messageStr}">
                            <h:outputText value="#{messages['net.ihe.gazelle.evs.FileExtensionDoesNotAllowToShowIt']}"/>
                        </s:div>

                        <s:div id="divForMessageContent" rendered="#{not empty remoteValidator.messageStr}">

                            <h:inputTextarea id="messagearea" readonly="true"
                                             value="#{remoteValidator.messageStr}" cols="128" rows="20"
                                             maxlength="2048">
                                <a4j:ajax event="keyup" render="buttdiv"/>
                            </h:inputTextarea>

                        </s:div>
                    </div>

                    <s:div id="validatorDetectorResultPanel"
                           rendered="#{!analyzerBean.parentFileToValidate.isEmpty() and remoteValidator.displayPanel==true}">
                        #{objectForValidatorDetectorResultDisplay.init(analyzerBean.analyzedObject.oid, null)}
                        <ui:include src="/common/messageContentAnalyzerResultDiv.xhtml"/>
                    </s:div>

                    <ui:define name="panel_footer">
                        <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>
                        <a4j:commandButton styleClass="gzl-btn"
                                           value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                           actionListener="#{analyzerBean.reset()}" render="globalDiv"/>
                        <a4j:commandButton id="forwardToValidation" actionListener="#{remoteValidator.forwardToValidation()}"
                                           value="#{messages['net.ihe.gazelle.evs.Go']}" styleClass="btn gzl-btn-blue" execute="@form"/>
                        <a4j:commandButton styleClass="btn gzl-btn-blue"
                                           value="#{messages['net.ihe.gazelle.evs.AnalyzeMessageContent']}"
                                           actionListener="#{analyzerBean.executeWithString(remoteValidator.messageStr)}"
                                           rendered="#{analyzerBean.parentFileToValidate.getResult().length()==0}"
                                           render="globalDiv,validatorDetectorResultPanel"/>

                    </ui:define>
                </ui:decorate>

            </h:form>


        </s:div>
    </ui:define>
</ui:composition>
