<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<s:div xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
       xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
       xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
       xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns="http://www.w3.org/1999/xhtml">
    <s:decorate template="/common/detailedResultTemplate.xhtml">
        <ui:param name="managedBean" value="#{dicomResultDisplay}"/>
        <!-- generalInformation -->
        <ui:define name="generalInformation">
            <dt>
                #{messages['net.ihe.gazelle.evs.DicomOperation']} : </dt>
            <dd>
                <h:outputText value="#{dicomResultDisplay.selectedObject.dicomOperation}"/>

            </dd>

        </ui:define>
        <!-- detailed result -->
        <ui:define name="detailedResult">
            <s:div rendered="#{dicomResultDisplay.selectedObject.detailedResult.length()&gt; 0}">
                <h:outputText
                        value="#{messages['net.ihe.gazelle.ValidatedBy']} #{dicomResultDisplay.selectedObject.dicomToolValidator}"
                        rendered="#{dicomResultDisplay.selectedObject.dicomToolValidator!=null}"/>
                <h:outputText value="#{dicomResultDisplay.selectedObject.detailedResult}" escape="false"
                              rendered="#{!dicomResultDisplay.resultIsXml()}"/>
                <gdk:insert rendered="#{dicomResultDisplay.resultIsXml()}"
                            content="#{dicomResultDisplay.getXML(dicomResultDisplay.selectedObject.detailedResult)}"
                            highlight="xml"/>
            </s:div>
        </ui:define>
        <!-- document content -->
        <ui:define name="fileContent">
            <s:div rendered="#{dicomResultDisplay.selectedObject.dicomFileContent.length()&gt; 0}">
                <h:outputText
                        value="#{messages['net.ihe.gazelle.DumpBy']} #{dicomResultDisplay.selectedObject.dicomToolDumper}"
                        rendered="#{dicomResultDisplay.selectedObject.dicomToolDumper!=null}"/>
                <h:outputText value="#{dicomResultDisplay.selectedObject.dicomFileContent}" escape="false"/>
            </s:div>
        </ui:define>
    </s:decorate>
</s:div>
