<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="/layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.DicomSCPScreener']}"/>
    <ui:param name="pageNameUrl" value="dicom/validator.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.DicomSCPScreener']}"/>
    <ui:define name="header">
        <h:outputScript library="jscript" name="table.js"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="globalForm">
            <s:token allowMultiplePosts="true"/>
            <s:div id="globalDiv">

                <s:div id="inputDiv" rendered="#{dicomSCPScreenerManagerBean.screenerResult.result == null}">

                    <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">

                        <ui:param name="panel_id" value="validatorPanel"/>
                        <ui:define name="panel_title">
                            <h:outputText value="#{messages['net.ihe.gazelle.evs.DicomSCPScreener']}"/>
                               <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{dicomSCPScreenerManagerBean.reset()}"
                                             render="@form">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                        </ui:define>

                        <f:facet name="header">#{messages['net.ihe.gazelle.evs.DicomSCPScreener']}</f:facet>
                        <h:outputText id="fileUploadInfo"
                                      value="#{messages['net.ihe.gazelle.evs.PleaseEnterIPPortAndAETittle']}"/>

                        <br/>
                        <div class="form-horizontal">

                            <s:div id="valuesDiv">
                                <a4j:region id="valuesDivRegion">
                                    <s:decorate id="ipdec" template="/layout/form/_form_field_horizontal_inline.xhtml">
                                        <ui:param name="id" value="ip"/>
                                        <ui:define name="label">#{messages['net.ihe.gazelle.evs.IPHostname']} : </ui:define>
                                        <h:inputText id="ip" value="#{dicomSCPScreenerManagerBean.screenerResult.hostname}"
                                                     required="true" styleClass="form-control">
                                            <a4j:ajax event="blur" render="ipdec" execute="@this"
                                                      listener="#{dicomSCPScreenerManagerBean.validateIP()}"/>
                                        </h:inputText>

                                    </s:decorate>
                                </a4j:region>

                                <s:decorate template="/layout/form/_form_field_horizontal_inline.xhtml">
                                    <ui:define name="label">#{messages['net.ihe.gazelle.evs.Port']} : </ui:define>
                                    <rich:inputNumberSpinner id="port"
                                                             value="#{dicomSCPScreenerManagerBean.screenerResult.port}"
                                                             minValue="0" maxValue="65535" required="true" styleClass="form-control">
                                    </rich:inputNumberSpinner>

                                </s:decorate>

                                <s:decorate id="aetdec" template="/layout/form/_form_field_horizontal_inline.xhtml">
                                    <ui:define name="label">#{messages['net.ihe.gazelle.evs.AETittle17Characters']}) : </ui:define>
                                    <ui:param name="id" value="AET"/>

                                    <h:inputText id="AET" value="#{dicomSCPScreenerManagerBean.screenerResult.aETitle}"
                                                 required="true" styleClass="form-control">
                                        <a4j:ajax event="blur" render="aetdec" execute="@this"
                                                  listener="#{dicomSCPScreenerManagerBean.validateAET()}"/>
                                    </h:inputText>

                                </s:decorate>
                            </s:div>
                        </div>

                        <ui:define name="panel_footer">
                            <s:div id="panel_footer_id">
                                <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>
                                <a4j:commandButton id="resetButton" styleClass="gzl-btn" value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                                   actionListener="#{dicomSCPScreenerManagerBean.reset()}" render="@form"/>
                                <a4j:commandButton styleClass="gzl-btn-blue"
                                                   value="#{messages['net.ihe.gazelle.evs.LaunchTest']}"
                                                   actionListener="#{dicomSCPScreenerManagerBean.execute()}"
                                                   oncomplete="Table.auto();" render="@form"
                                                   rendered="#{dicomSCPScreenerManagerBean.screenerResult.result == null}"
                                />
                                <a4j:commandButton styleClass="gzl-btn-blue"
                                                   value="#{messages['net.ihe.gazelle.evs.LaunchAnotherTest']}"
                                                   actionListener="#{dicomSCPScreenerManagerBean.reExecute()}"
                                                   oncomplete="Table.auto();"
                                                   rendered="#{dicomSCPScreenerManagerBean.screenerResult.result != null}"
                                                   render="@form"/>
                            </s:div>
                        </ui:define>


                    </ui:decorate>
                </s:div>

                <s:div id="validationDiv" rendered="#{pdfValidationManagerBean.getValidationDone()}">

                    <s:div id="validationResultPanel" rendered="#{pdfValidationManagerBean.displayResult == true}">
                        #{pdfResultDisplay.init(pdfValidationManagerBean.validatedPdf.oid, null)}
                        <ui:include src="/dicom/SCPdetailedResult.xhtml"/>
                    </s:div>
                </s:div>



                <s:div id="validationResultPanel2">
                    <!-- general information -->


                    <s:div id="infoDiv" rendered="#{dicomSCPScreenerManagerBean.screenerResult.result != null}">
                        <rich:panel styleClass="styleResultBackground" id="generalInfoPanel">
                            <f:facet name="header">#{messages['gazelle.evs.client.information']}</f:facet>
                            <table style="width: 100%;">
                                <tr valign="middle" style="width: 100%;">
                                    <td style="overflow: auto; vertical-align: top; width: 5%; font-weight: bold;"
                                        align="right">#{messages['gazelle.evs.client.saml.oid']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 45%;" align="left">
                                        <h:outputText value="#{dicomSCPScreenerManagerBean.screenerResult.oid}"/>
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 5%; font-weight: bold;"
                                        align="right">#{messages['net.ihe.gazelle.evs.IPHostname']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 45%;" align="left">
                                        <h:outputText value="#{dicomSCPScreenerManagerBean.screenerResult.hostname}"/>
                                    </td>
                                </tr>
                                <tr valign="middle" style="width: 100%;">
                                    <td style="overflow: auto; vertical-align: top; width: 10%; font-weight: bold;"
                                        align="right">
                                        #{messages['gazelle.evs.client.validation.date']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 40%;" align="left">
                                        <g:date date="true" time="true"
                                                value="#{dicomSCPScreenerManagerBean.screenerResult.timestamp}"
                                                tooltip="false"/>
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 5%; font-weight: bold;"
                                        align="right">#{messages['net.ihe.gazelle.evs.Port']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 45%;" align="left">
                                        <h:outputText value="#{dicomSCPScreenerManagerBean.screenerResult.port}"/>
                                    </td>
                                </tr>
                                <tr valign="middle" style="width: 100%;">
                                    <td style="overflow: auto; vertical-align: top; width: 5%; font-weight: bold;"
                                        align="right">#{messages['gazelle.evs.client.Permanent.Link']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 45%;" align="left">
                                        <h:outputLink
                                                value="#{dicomSCPScreenerManagerBean.screenerResult.permanentLink()}"
                                                target="_blank">
                                            <h:outputText
                                                    value="#{dicomSCPScreenerManagerBean.screenerResult.permanentLink()}"/>
                                        </h:outputLink>
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 5%; font-weight: bold;"
                                        align="right">#{messages['net.ihe.gazelle.evs.AETitle']}
                                    </td>
                                    <td style="overflow: auto; vertical-align: top; width: 45%;" align="left">
                                        <h:outputText value="#{dicomSCPScreenerManagerBean.screenerResult.aETitle}"/>
                                    </td>
                                </tr>
                            </table>
                            <s:div style="text-align:center;width: 30%"
                                   rendered="#{identity.loggedIn and not dicomSCPScreenerManagerBean.screenerResult.isPublic}">
                                <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPublic']}"
                                                   title="#{messages['net.ihe.gazelle.EVSClient-ui.EverybodyWillHaveAccessToThisResult']}"
                                                   actionListener="#{dicomSCPScreenerManagerBean.makeResultPublic()}"
                                                   styleClass="btn btn-default" render="infoDiv"/>

                                <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.ShareThisResult']}"
                                                   title="#{messages['net.ihe.gazelle.EVSClient-ui.OnlyTheUsersWhoKnowThePermanentLinkWillHaveAcces']}"
                                                   actionListener="#{dicomSCPScreenerManagerBean.shareResult()}"
                                                   rendered="#{empty dicomSCPScreenerManagerBean.screenerResult.privacyKey}"
                                                   styleClass="btn btn-default" render="infoDiv"/>
                            </s:div>
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPrivate']}"
                                               title="#{messages['net.ihe.gazelle.EVSClient-ui.ThisResultWillOnlyBeAccessibleByYouAndMonitors']}"
                                               rendered="#{identity.loggedIn         and dicomSCPScreenerManagerBean.screenerResult.isPublic         and dicomSCPScreenerManagerBean.screenerResult.privateUser == identity.username}"
                                               actionListener="#{dicomSCPScreenerManagerBean.makeResultPrivate()}"
                                               styleClass="btn btn-default" render="infoDiv"/>
                        </rich:panel>
                        <br/>
                        <br/>
                    </s:div>
                    <rich:panel rendered="#{dicomSCPScreenerManagerBean.screenerResult.result != null}">
                        <f:facet name="header">#{messages['net.ihe.gazelle.evs.DicomSCPScreenerResult']}</f:facet>
                        <h:commandButton styleClass="btn btn-default" render="@form"
                                         value="#{messages['gazelle.evs.client.download.result']}"
                                         action="#{dicomSCPScreenerManagerBean.downloadResultAsXml()}"/>
                        <h:outputText value="#{dicomSCPScreenerManagerBean.resultAsHtml()}" escape="false"/>
                    </rich:panel>
                </s:div>
            </s:div>
        </h:form>
    </ui:define>
</ui:composition>
