<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="/layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.DicomSCPScreenerLogs']}"/>
    <ui:param name="pageNameUrl" value="/dicom/SCPValidatorResult.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.DicomSCPScreenerLogs']}"/>
    <ui:define name="body">
        <h:form id="globalForm">
            <s:token allowMultiplePosts="true"/>
            #{dicomSCPScreenerResultDisplay.initFromUrl()}
            <h:panelGrid columns="4">
                <ui:include src="/filter/filterDate.xhtml">
                    <ui:param name="filter" value="#{dicomSCPScreenerManagerBean.dataModel.filter}"/>
                    <ui:param name="filterWidth" value="240"/>
                    <ui:param name="filterId" value="timestamp"/>
                    <ui:param name="filterName" value="#{messages['net.ihe.gazelle.evs.ValidationDate']}"/>
                    <ui:param name="filterForm" value="globalForm"/>
                </ui:include>
                <s:div/>
                <s:div/>
            </h:panelGrid>

            #{dataTableStateHolder.setDescendingOn('timestamp')}
            <rich:dataTable value="#{dicom.dataModel}" var="data" id="tableId"
                            rows="#{dataScrollerMemory.numberOfResultsPerPage}"
                            render="ds">
                <g:column rendered="#{identity.loggedIn}">
                    <s:span styleClass="gzl-icon-link" rendered="#{not empty data.privacyKey}"
                            title="#{messages['gazelle.evs.ThisValidationReportIsShared']}"/>
                    <s:span styleClass="gzl-icon-lock" rendered="#{not data.isPublic and empty data.privacyKey}"
                            title="#{messages['gazelle.evs.ThisValidationReportIsPrivate']}"/>
                    <s:span styleClass="gzl-icon-unlock" rendered="#{data.isPublic}"
                            title="#{messages['gazelle.evs.ThisValidationReportIsPublic']}"/>
                </g:column>
                <g:column>
                    <ui:define name="header">#{messages['gazelle.evs.client.saml.oid']}</ui:define>
                    <h:outputLink id="link1" value="#{data.permanentLink()}" target="_blank">
                        <h:outputText value="#{data.oid}"/>
                    </h:outputLink>
                </g:column>
                <g:column sortBy="#{'timestamp'}" sortOrder="#{datatablestateholder.sortorders['timestamp']}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.Date']}</ui:define>
                    <g:date date="true" time="true" value="#{data.timestamp}" tooltip="false"/>
                </g:column>
                <g:column rendered="#{s:hasRole('admin_role')}">
                    <ui:define name="header">#{messages['gazelle.evs.client.validation.login']}</ui:define>
                    <h:outputText value="#{data.privateUser}"/>
                </g:column>
                <g:column sortBy="#{'aETitle'}" sortOrder="#{datatablestateholder.sortorders['aetitle']}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.AET']}</ui:define>
                    <h:outputText value="#{data.aETitle}"/>
                </g:column>
                <g:column sortBy="#{'hostname'}" sortOrder="#{datatablestateholder.sortorders['hostname']}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.Hostname']}</ui:define>
                    <h:outputText value="#{data.hostname}"/>
                </g:column>
                <g:column sortBy="#{'port'}" sortOrder="#{datatablestateholder.sortorders['port']}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.Port']}</ui:define>
                    <h:outputText value="#{data.port}"/>
                </g:column>
                <f:facet name="footer">
                    <ui:include src="/util/datatableFooter.xhtml">
                        <ui:param name="dataScrollerId" value="ds"/>
                        <ui:param name="dataTableId" value="tableId"/>
                    </ui:include>
                </f:facet>
            </rich:dataTable>
        </h:form>
    </ui:define>
</ui:composition>
