<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['gazelle.evs.client.dicom.validator.title']}"/>
    <ui:param name="pageNameUrl" value="dicom/validator.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.evs.client.dicom.validator.title']}"/>
    <ui:define name="body">

        <h:form id="globalForm">
            <s:token id="globalFormTokenId" allowMultiplePosts="true"/>
            #{dicomValidationManagerBean.init()}
            <s:div id="globalDiv" >
                <s:div rendered="#{!dicomValidationManagerBean.getValidationDone()}">

                    <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">

                        <ui:param name="panel_id" value="validatorPanel"/>
                        <ui:define name="panel_title">
                            <h:outputText value="#{messages['gazelle.evs.client.tls.validator.panel.title']}"/>
                            <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{dicomValidationManagerBean.reset()}" execute="globalFormTokenId"
                                             render="@form">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                        </ui:define>

                        <div class="form-horizontal">
                            <s:div id="uploadFile">
                                <s:div rendered="#{dicomValidationManagerBean.selectedDicomFile == null}">
                                    <h:outputText id="fileUploadInfo"
                                                  value="#{messages['gazelle.evs.client.dicom.validator.file.upload']}"/>

                                    <rich:fileUpload id="uploadDicomFile"
                                                     fileUploadListener="#{dicomValidationManagerBean.uploadListener}"
                                                     maxFilesQuantity="1"
                                                     listHeight="60px"
                                                     acceptedTypes="#{managedBean.acceptedFileTypes}"
                                                     immediateUpload="true"
                                                     ontyperejected="ontyperejected()">

                                        <a4j:ajax event="uploadcomplete" render="globalDiv" execute="globalFormTokenId"/>
                                    </rich:fileUpload>
                                    <a4j:jsFunction name="ontyperejected" actionListener="#{dicomValidationManagerBean.setMessageInvalidFileType()}"/>

                                </s:div>
                            </s:div>


                            <s:div id="downloadedMessage">
                                <s:div rendered="#{dicomValidationManagerBean.selectedDicomFile != null}">
                                    <ui:decorate template="/layout/panels/_panel_id.xhtml">
                                        <ui:param name="panel_id" value="fileNameInfo"/>
                                        <s:decorate id="fileNameInfoDecoration" template="/layout/display/_display.xhtml">
                                            <ui:define name="label">#{messages['gazelle.evs.client.uploaded.file.name']} </ui:define>
                                            <h:outputText value="#{dicomValidationManagerBean.selectedDicomFile.description}">
                                            </h:outputText>
                                        </s:decorate>
                                    </ui:decorate>

                                </s:div>

                            </s:div>



                            <s:div id="val_select">
                                <s:decorate template="/layout/form/_form_field_horizontal_3-9.xhtml">
                                    <ui:define name="label">#{messages['net.ihe.gazelle.evs.Tool']}</ui:define>
                                    <ui:param name="id" value="toolInput"/>
                                    <h:selectOneMenu value="#{dicomValidationManagerBean.selectedService}" id="toolInput"
                                                     styleClass="form-control gzl-form-control gzl-select-text">
                                        <s:selectItems value="#{dicomValidationManagerBean.services}" var="valservice"
                                                       noSelectionLabel="#{messages['gazelle.common.pleaseSelect']}"
                                                       label="#{valservice.name}"/>
                                        <s:convertEntity/>
                                        <a4j:ajax event="change" render="val_select, panel_footer_id" />
                                    </h:selectOneMenu>
                                </s:decorate>

                                <s:decorate template="/layout/form/_form_field_horizontal_3-9.xhtml"
                                            rendered="#{dicomValidationManagerBean.selectedService != null}">
                                    <ui:define name="label">#{messages['net.ihe.gazelle.evs.Operation']}</ui:define>
                                    <ui:param name="id" value="opInput"/>
                                    <h:selectOneMenu value="#{dicomValidationManagerBean.selectedOperation}"
                                                     styleClass="form-control gzl-form-control gzl-select-text"
                                                     required="true" id="opInput">
                                        <s:selectItems var="dcmop"
                                                       noSelectionLabel="#{messages['gazelle.common.pleaseSelect']}"
                                                       label="#{dcmop.label}"
                                                value="#{dicomValidationManagerBean.getListOperations()}"/>
                                        <a4j:ajax event="change" render="panel_footer_id" />
                                    </h:selectOneMenu>


                                </s:decorate>
                            </s:div>
                        </div>

                        <ui:define name="panel_footer">
                            <s:div id="panel_footer_id">
                                <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>

                                <a4j:commandButton styleClass="gzl-btn-blue"
                                                   value="#{messages['net.ihe.gazelle.ValidateAndDump']}"
                                                   actionListener="#{dicomValidationManagerBean.validateAndDump()}"
                                                   rendered="#{dicomValidationManagerBean.selectedService != null and dicomValidationManagerBean.selectedDicomFile != null}"
                                                   oncomplete="
                                               #{dicomResultDisplay.init(dicomValidationManagerBean.selectedDicomFile.oid, null)};
                                               if(#{dicomResultDisplay.sendBackResultToTool()})
                                                {jq162('#sendBackToCallingTool').modal('show')}
                                                 else
                                                {jq162('#sendBackToCallingTool').modal('hide')}"
                                                   render="@form"  execute="globalFormTokenId"/>
                                <a4j:commandButton id="resetButton" styleClass="gzl-btn" value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                                   actionListener="#{dicomValidationManagerBean.reset()}" render="@form" execute="globalFormTokenId"/>

                            </s:div>
                        </ui:define>

                    </ui:decorate>
                </s:div>

                <s:div id="validationDiv"
                       rendered="#{dicomValidationManagerBean.getValidationDone()}">
                    <ui:include src="/dicom/detailedResult.xhtml"/>
                </s:div>
            </s:div>
        </h:form>

    </ui:define>
</ui:composition>
