<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:g="http://www.ihe.net/gazelle" xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jstl/core" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:gazelle="http://www.ihe.net/gazelle" xmlns:h="http://java.sun.com/jsf/html"
                xmlns="http://www.w3.org/1999/xhtml">


    <ui:decorate template="_default_footer_template.xhtml">
        <ui:param name="applicationName" value="#{applicationPreferenceManager.getApplicationName()}"/>
        <ui:param name="version" value="${build.version}"/>
        <ui:param name="buildProfiles" value="${build.maven.execution.profiles.active}"/>
        <ui:param name="buildDate" value="${build.date.full}"/>
        <ui:param name="buildYear" value="${build.year}"/>
        <ui:param name="releaseNoteUrl" value="#{applicationPreferenceManager.getApplicationGazelleReleaseNotesUrl()}"/>
        <ui:param name="documentationUrl" value="#{applicationPreferenceManager.getApplicationDocumentationUrl()}"/>
        <ui:param name="appAdminTitle" value="#{applicationPreferenceManager.getApplicationAdminTitle()}"/>
        <ui:param name="appAdminEmail" value="#{applicationPreferenceManager.getApplicationAdminEmail()}"/>
        <ui:param name="appAdminName" value="#{applicationPreferenceManager.getApplicationAdminName()}"/>
        <ui:param name="issueTrackerUrl" value="#{applicationPreferenceManager.getApplicationIssueTrackerUrl()}"/>
    </ui:decorate>

</ui:composition>
