<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:gri="http://java.sun.com/jsf/composite/gri"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns="http://www.w3.org/1999/xhtml"
>

    <s:div id="validationResultPanel" rendered="#{resultDisplayManager.selectedObject != null}">
        #{resultDisplayManager.initTemplatePanel()}

        <!-- general information -->

        <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">
            <ui:define name="panel_title">
                <ui:include src="/common/informationHeader.xhtml">
                    <ui:param name="managedBean" value="#{resultDisplayManager}"/>
                    <ui:param name="idToRender" value="generalInfoPanel"/>
                </ui:include>
            </ui:define>
            <ui:param name="panel_id" value="generalInfoPanel"/>

            <dl class="dl-horizontal">

                <dt class="#{dt_styleClass}">
                    #{messages['gazelle.evs.client.cda.filename']}
                </dt>
                <dd class="#{dd_styleClass}">
                    <h:outputText value="#{resultDisplayManager.selectedObject.description}"/>
                    <h:commandLink action="#{resultDisplayManager.downloadValidatedObject()}">
                        <s:span title="#{messages['gazelle.evs.DownloadFile']}" styleClass="gzl-icon-download text-info"/>
                    </h:commandLink>
                </dd>

                <dt class="#{dt_styleClass}">
                    #{messages['gazelle.evs.client.cda.oid']} :
                </dt>
                <dd class="#{dd_styleClass}">
                    <h:outputText value="#{resultDisplayManager.selectedObject.oid}"/>
                </dd>

                <dt class="#{dt_styleClass}">
                    <h:outputText value="#{messages['gazelle.evs.client.validation.schematron']} :"/>
                </dt>
                <dd class="#{dd_styleClass}">
                    <h:outputText value="#{resultDisplayManager.selectedObject.schematron}"
                                  rendered="#{resultDisplayManager.selectedObject.schematron != null}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.NA']}"
                                  rendered="#{resultDisplayManager.selectedObject.schematron == null}"/>
                    <h:outputText
                            value=" (#{messages['net.ihe.gazelle.xval.Version']} #{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion})"
                            rendered="#{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion != null}"/>
                    <h:outputText
                            value=" (#{messages['net.ihe.gazelle.xval.Version']} #{messages['net.ihe.gazelle.evs.NA']})"
                            rendered="#{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion == null}"/>
                </dd>

                <dt class="#{dt_styleClass}">
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.SchematronValidationResult']} :"/>
                </dt>

                <dd class="#{dd_styleClass}">
                    <h:outputText styleClass="#{resultDisplayManager.getValidationStatus('schematron')}"
                                  value="#{resultDisplayManager.getValidationStatus('schematron')}"/>
                    <h:commandLink action="#{resultDisplayManager.downloadResultAsXml('schematron')}"
                                   rendered="#{resultDisplayManager.selectedObject.schematron != null}" execute="@form">
                        <s:span title="#{messages['net.ihe.gazelle.EVSClient-ui.DownloadValidationResultsXML']})"
                                styleClass="gzl-icon-download text-info"/>
                    </h:commandLink>

                    <h:commandLink action="#{resultDisplayManager.downloadReportAsPdf('schematron',false)}"
                                   rendered="#{resultDisplayManager.selectedObject.schematron != null }">
                        <s:span title="#{messages['net.ihe.gazelle.EVSClient-ui.DownloadValidationResultsPDF']})"
                                styleClass="gzl-icon-pdf"/>
                    </h:commandLink>

                </dd>

                <dt class="#{dt_styleClass}">
                    #{messages['gazelle.evs.client.validation.date']} :
                </dt>
                <dd class="#{dd_styleClass}">
                    <g:date date="true" time="true"
                            value="#{resultDisplayManager.selectedObject.validationDate}" tooltip="false"/>
                </dd>

                <dt class="#{dt_styleClass}">
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.ModelBasedValidator']} :"/>
                </dt>
                <dd class="#{dtd_styleClass}">
                    <h:outputText value="#{resultDisplayManager.selectedObject.mbvalidator}"
                                  rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.NA']}"
                                  rendered="#{resultDisplayManager.selectedObject.mbvalidator == null}"/>
                    <h:outputText
                            value=" (#{messages['net.ihe.gazelle.xval.Version']} #{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion})"
                            rendered="#{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion != null}"/>
                    <h:outputText
                            value=" (#{messages['net.ihe.gazelle.xval.Version']} #{messages['net.ihe.gazelle.evs.NA']})"
                            rendered="#{resultDisplayManager.detailedResult.validationResultsOverview.validationServiceVersion == null}"/>
                </dd>
                <dt class="#{dt_styleClass}">
                    #{messages['net.ihe.gazelle.evs.ModelBasedValidationResult']} :
                </dt>
                <dd class="#{dd_styleClass}">
                    <h:outputText styleClass="#{resultDisplayManager.getValidationStatus('model-based')}"
                                  value="#{resultDisplayManager.getValidationStatus('model-based')}"/>
                    <h:commandLink action="#{resultDisplayManager.downloadResultAsXml('model-based')}"
                                   rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}">
                        <s:span title="#{messages['net.ihe.gazelle.EVSClient-ui.DownloadValidationResultsXML']})"
                                styleClass="gzl-icon-download text-info"/>
                    </h:commandLink>
                    <h:commandLink action="#{resultDisplayManager.downloadReportAsPdf('model-based',false)}"
                                   rendered="#{resultDisplayManager.selectedObject.mbvalidator != null and
                                    (resultDisplayManager.selectedObject.getMbValidationService().getReportName()!=null and !resultDisplayManager.selectedObject.getMbValidationService().getReportName().isEmpty())}">
                        <s:span title="#{messages['net.ihe.gazelle.EVSClient-ui.DownloadValidationResultsPDF']})"
                                styleClass="gzl-icon-pdf"/>
                    </h:commandLink>
                    <h:commandLink action="#{resultDisplayManager.downloadReportAsPdf('model-based',true)}"
                                   rendered="#{resultDisplayManager.selectedObject.mbvalidator != null and
                                    (resultDisplayManager.selectedObject.getMbValidationService().getReportName()!=null and !resultDisplayManager.selectedObject.getMbValidationService().getReportName().isEmpty())}">

                        <span class="gzl-icon-stack" style="margin-bottom: 5px;"
                              title="Download validation results for model based with scorecard(PDF file)">
                          <span class="gzl-icon-pdf gzl-icon-stack-1x" style="margin-top: -3px;"/>
                          <span class="gzl-icon-plus gzl-icon-stack-1x gzl-icon-stack-bottom-right"/>
                          <span style="font-size:12px; font-weight:bold;color: blue;margin-left: 20px">#{messages['net.ihe.gazelle.evsclient.SC']}</span>
                        </span>
                    </h:commandLink>
                </dd>

                <dt class="#{dt_styleClass}">
                    #{messages['gazelle.evs.client.Permanent.Link']} :
                </dt>
                <dd class="#{dd_styleClass}">
                    <h:outputLink value="#{resultDisplayManager.selectedObject.permanentLink()}"
                                  target="_blank">
                        <h:outputText value="#{resultDisplayManager.selectedObject.permanentLink()}"/>
                    </h:outputLink>
                </dd>
                <dt class="#{dt_styleClass}">
                    #{messages['net.ihe.gazelle.evsclient.DataVisibility']}
                </dt>
                <dd class="#{dd_styleClass}" id="nameInput">
                    <h:outputText rendered="#{resultDisplayManager.selectedObject.isPublic}"
                                  value="#{messages['net.ihe.gazelle.evsclient.Public']}"/>
                    <h:outputText
                            rendered="#{not resultDisplayManager.selectedObject.isPublic and resultDisplayManager.selectedObject.privacyKey == null}"
                            value="#{messages['net.ihe.gazelle.evsclient.Private']}"/>
                    <h:outputText rendered="#{resultDisplayManager.selectedObject.privacyKey != null}"
                                  value="#{messages['net.ihe.gazelle.EVSClient-ui.Shared']}"/>
                    <h:outputText
                            rendered="#{identity.loggedIn and not empty resultDisplayManager.selectedObject.privateUser}"
                            value=" - #{messages['net.ihe.gazelle.evsclient.OwnedBy']} #{resultDisplayManager.selectedObject.privateUser} / #{resultDisplayManager.selectedObject.institutionKeyword}"/>
                </dd>

            </dl>

            <ui:define name="panel_footer">
                <ui:include src="/common/informationFooter.xhtml">
                    <ui:param name="managedBean" value="#{resultDisplayManager}"/>
                    <ui:param name="idToRender" value="generalInfoPanel"/>
                </ui:include>

            </ui:define>


        </ui:decorate>

        <ui:decorate template="/layout/panels/_panel_title.xhtml">

            <ui:param name="panel_id" value="validationResultsPanel"/>

            <ui:define name="panel_title">
                <h:outputText value="#{messages['net.ihe.gazelle.evsclient.ValidationResults']}"/>
            </ui:define>

            <gri:tabPanel withBorder="true" activeItem="#{resultDisplayManager.getDefaultTab()}">
                <gri:tab id="MbvTab" head="#{messages['net.ihe.gazelle.evs.ModelBasedValidation_2']}"
                         rendered="#{resultDisplayManager.selectedObject.mbValidationService != null}">
                    <s:div rendered="#{resultDisplayManager.selectedObject.mbValidationService.keyword.equals('MB-CDA')}"
                           styleClass="row" id="cdambv">
                        <s:div styleClass="col-md-9">
                            <h:outputText value="#{resultDisplayManager.getTransformedDetailedResult('model-based')}"
                                          escape="false"/>
                        </s:div>
                        <s:div styleClass="col-md-3" id="tree">
                            <s:div id="noTreeInfo" rendered="#{not resultDisplayManager.isTemplateTreeAvailable()}"
                                   styleClass="gzl-alert gzl-alert-orange">
                                <h:outputText
                                        value="#{messages['net.ihe.gazelle.evsclient.NoTemplateDescriptionFoundForThatTreeOfTemplates']}"/>
                            </s:div>
                            <s:div id="treeOfTemplatesDiv" rendered="#{resultDisplayManager.isTemplateTreeAvailable()}">
                                <s:div styleClass="gzl-alert gzl-alert-blue">
                                    <h:outputText
                                            value="#{messages['net.ihe.gazelle.evsclient.TreeOfTheTemplatesUsedInThisDocument']}"/>
                                    <br/>
                                    <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.ClickOnTemplateIDToFilterTheListOfNotifications']}"
                                                  rendered="#{resultDisplayManager.showTemplates}"
                                                  style="font-weight: bold;"/>
                                </s:div>
                                <s:decorate template="/layout/form/_checkbox.xhtml">
                                    <h:selectBooleanCheckbox
                                            value="#{resultDisplayManager.showTemplates}">
                                        <a4j:ajax event="change" render="tree"/>
                                    </h:selectBooleanCheckbox>
                                    #{messages['net.ihe.gazelle.EVSClient-ui.ShowTemplatesexperimental']}
                                </s:decorate>
                                <rich:tree id="treeTemp" value="#{resultDisplayManager.getListTemplatesArchitecture()}"
                                           var="node" rendered="#{resultDisplayManager.showTemplates}"
                                           styleClass="templateTree"
                                           execute="@this"
                                           nodeType="#{node.data.class.simpleName}"
                                           toggleType="client"
                                           selectionType="ajax">
                                    <rich:treeNode type="Template"
                                                   iconClass="#{resultDisplayManager.getIconClassForTemplate(node.data)}"
                                                   style="cursor:pointer;"
                                                   expanded="#{true}"
                                                   width="15" height="15"
                                                   onclick="filterOnSelectedTemplate('#{node.data.location}', this)">
                                        <s:div style="vertical-align:top;">
                                            <dl style="margin-bottom:0px">
                                                <a4j:repeat value="#{node.data.templateId}" var="var">
                                                    <dd>
                                                        <h:outputText
                                                                value="#{var.id}- #{messages['net.ihe.gazelle.evs.UNKNOWN']}"
                                                                style="color:grey;"
                                                                rendered="#{var.name.equals('UNKNOWN')}"/>
                                                        <h:outputText value="#{var.id} - #{var.name}"
                                                                      style="color:black;"
                                                                      rendered="#{!var.name.equals('UNKNOWN')}"/>
                                                    </dd>
                                                </a4j:repeat>
                                            </dl>
                                        </s:div>
                                    </rich:treeNode>
                                </rich:tree>
                            </s:div>
                        </s:div>

                    </s:div>
                    <s:div rendered="#{!resultDisplayManager.selectedObject.mbValidationService.keyword.equals('MB-CDA')}">
                        <h:outputText value="#{resultDisplayManager.getTransformedDetailedResult('model-based')}"
                                      escape="false"/>
                    </s:div>

                </gri:tab>
                <gri:tab id="scorecardTab" head="#{messages['net.ihe.gazelle.evsclient.Scorecard']}"
                         rendered="#{resultDisplayManager.displayScorecardTab()}">
                    <s:div id="scorecardTabContent">
                        <a4j:region>
                            <a4j:poll id="poll" interval="1000"
                                      actionListener="#{scorecardManager.processScorecard()}"
                                      enabled="#{scorecardManager.pollScorecard}"
                                      render="scorecardTabContent"/>
                        </a4j:region>
                        <a4j:commandButton value="#{messages['net.ihe.gazelle.EVSClient-ui.GetScorecard']}"
                                           rendered="#{scorecardManager.scorecard == null and not scorecardManager.isScorecardInError()}"
                                           actionListener="#{scorecardManager.computeScorecard(resultDisplayManager.selectedObject)}"
                                           render="scorecardTabContent" styleClass="gzl-btn-green"/>
                        <s:div rendered="#{scorecardManager.displayScorecard()}"
                               id="scorecardDiv">
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.EVSClient-ui.ReComputeScorecard']}"
                                               actionListener="#{scorecardManager.computeAgain()}"
                                               render="scorecardTabContent" styleClass="gzl-btn-blue"/>
                            <h:commandLink action="#{scorecardManager.downloadScorecard()}"
                                           execute="@form" styleClass="gzl-btn-blue">
                                <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.DownloadScorecard']}"/>
                            </h:commandLink>
                            <h:outputText value="#{scorecardManager.getTransformedScorecard()}"
                                          escape="false"/>
                        </s:div>
                        <s:div rendered="#{scorecardManager.isScorecardInError()}"
                               id="noScorecardDiv"
                               styleClass="gzl-alert gzl-alert-orange">
                            <h:outputText value="#{scorecardManager.errorMessage}"/>
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.evsclient.TryAgain']}"
                                               actionListener="#{scorecardManager.computeAgain()}"
                                               render="scorecardTabContent" styleClass="gzl-btn-blue"/>
                        </s:div>
                    </s:div>
                </gri:tab>
                <gri:tab id="SchematronTab" head="#{messages['net.ihe.gazelle.evs.SchematronValidation']}"
                         rendered="#{resultDisplayManager.selectedObject.schematron != null}">
                    <s:div rendered="#{resultDisplayManager.selectedObject.schematron != null}">

                        <h:outputText value="#{resultDisplayManager.getTransformedDetailedResult('schematron')}"
                                      escape="false"/>
                    </s:div>
                </gri:tab>

            </gri:tabPanel>


        </ui:decorate>


        <ui:decorate template="/layout/panels/_panel_title_id.xhtml">

            <ui:param name="panel_id" value="fileContentPanel"/>
            <ui:define name="panel_title">
                <h:outputText value="#{messages['net.ihe.gazelle.evs.FileContent']}"/>
            </ui:define>

            <!-- XML file content -->

            <s:div rendered="#{resultDisplayManager.selectedObject != null      and resultDisplayManager.validatorType.equals('CDA')      and resultDisplayManager.getPdfFileListSize() gt 0}">
                #{messages['gazelle.evs.client.pdf.files']} :
                <ui:repeat value="#{resultDisplayManager.getPdfFileList()}" var="pdfFile">
                    <h:outputText value=" #{pdfFile.name}"/>
                    <h:outputText value=" "/>
                    <h:commandLink title="#{messages['gazelle.evs.client.validate']}"
                                   action="#{resultDisplayManager.validatePdf(pdfFile)}"
                                   target="_blank">
                        <span class="gzl-icon-play-blue"/>
                    </h:commandLink>
                    <h:outputText value=" "/>
                    <h:commandLink title="#{messages['net.ihe.gazelle.xval.Download']}"
                                   action="#{resultDisplayManager.showPDF(pdfFile,true)}">
                        <span class="gzl-icon-download"/>
                    </h:commandLink>
                    <h:outputText value=" "/>
                    <h:commandLink title="#{messages['net.ihe.gazelle.evsclient.View']}"
                                   action="#{resultDisplayManager.showPDF(pdfFile,false)}" target="_blank">
                        <span class="gzl-icon-eye"/>
                    </h:commandLink>
                </ui:repeat>
            </s:div>
            #{resultDisplayManager.initSelectedDocStyleSheet()}

            <gri:tabPanel withBorder="true">
                <gri:tab head="#{resultDisplayManager.getMainContentTabTitle()}">
                    <s:div id="viewOptions" rendered="#{resultDisplayManager.displayViewOptions()}">
                        <s:decorate template="/layout/form/_checkbox.xhtml">
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.ViewLinesNumbers']}</ui:define>
                            <h:selectBooleanCheckbox value="#{resultDisplayManager.viewLineNumber}">
                                <a4j:ajax event="click" render="textxml" execute="@this"/>
                            </h:selectBooleanCheckbox>
                        </s:decorate>
                        <s:decorate template="/layout/form/_checkbox.xhtml">
                            <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.IndentFile']}</ui:define>
                            <h:selectBooleanCheckbox value="#{resultDisplayManager.indentFile}">
                                <a4j:ajax event="click" render="textxml" execute="@this"/>
                            </h:selectBooleanCheckbox>
                        </s:decorate>
                    </s:div>
                    <h:outputText id="textxml" value="#{resultDisplayManager.getRawXmlContent()}" escape="false"/>
                </gri:tab>
                <gri:tab head="#{messages['net.ihe.gazelle.EVSClient-ui.HTMLViewOfContent']}"
                         rendered="#{resultDisplayManager.verifyThatListDocStyleSheetNotEmpty()}">
                    <s:decorate template="/layout/display/_display.xhtml">
                        <ui:define name="label">#{messages['net.ihe.gazelle.evs.XSLStyleSheet']}</ui:define>
                        <h:selectOneMenu value="#{resultDisplayManager.selectedDocStyleSheet}"
                                         styleClass="form-control gzl-form-control gzl-select-text"
                                         style="font-weight:bold;">
                            <s:selectItems value="#{resultDisplayManager.selectedObject.standard.listDocStyleSheet}"
                                           var="stylesheet"
                                           noSelectionLabel="#{messages['gazelle.common.PleaseSelect']}"
                                           label="#{stylesheet.name}" required="true"/>
                            <s:convertEntity/>
                            <a4j:ajax event="change" render="resultPretty" execute="@this"/>
                        </h:selectOneMenu>
                    </s:decorate>


                    <s:div id="resultPretty">
                        <h:outputText escape="false" value="#{resultDisplayManager.getPrettyXmlContent()}"/>
                    </s:div>
                </gri:tab>
            </gri:tabPanel>
        </ui:decorate>


    </s:div>
    <s:div id="badid" rendered="#{resultDisplayManager.selectedObject == null}">
        <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
            <ui:param name="panel_id" value="badidPanel"/>
            <ui:define name="panel_title">
                <h:outputText value="#{messages['gazelle.evs.client.cda.unknown.id']}"/>
            </ui:define>
            #{messages['net.ihe.gazelle.EVSClient-ui.CouldNotFindAnObjectInTheDatabaseCorrespondingTo']}
        </ui:decorate>
    </s:div>
    <ui:include src="/common/sendToProxyPanel4XmlBasedFiles.xhtml"/>

</ui:composition>
