<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jstl/core">
    <!-- this page is a template and must be included using a s:decorate element
          parameters: managedBean
          insert names: generalInformation, detailedResult, fileContent
       -->
    <s:div rendered="#{managedBean.selectedObject != null}">

        <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">

            <ui:param name="panel_id" value="resultPanel"/>
            <ui:define name="panel_title">
                <ui:include src="/common/informationHeader.xhtml">
                    <ui:param name="managedBean" value="#{managedBean}"/>
                    <ui:param name="idToRender" value="resultPanel"/>
                </ui:include>
            </ui:define>


            <!-- general information -->

            <dl class="dl-horizontal">
                <dt>#{messages['net.ihe.gazelle.evs.Filename']} :</dt>
                <dd>
                    <h:outputText value="#{managedBean.selectedObject.description}"/>
                    <h:commandLink action="#{managedBean.downloadValidatedObject}" immediate="true">
                        <s:span styleClass="gzl-icon-download text-info"/>
                    </h:commandLink>
                </dd>


                <dt>#{messages['gazelle.evs.client.Standard']} :</dt>
                <dd>
                    <h:outputText value="#{managedBean.selectedObject.standard.label}"/>
                </dd>

                <dt>#{messages['gazelle.evs.client.saml.oid']} :</dt>
                <dd>
                    <h:outputText value="#{managedBean.selectedObject.oid}"/>
                </dd>

                <dt>#{messages['net.ihe.gazelle.evs.ValidationService']} :</dt>
                <dd>
                    <h:outputText value="#{managedBean.selectedObject.service.name}"/>
                </dd>

                <dt>
                    #{messages['net.ihe.gazelle.evs.ValidationStatus']} :</dt>
                <dd>
                    <h:outputText value="#{managedBean.selectedObject.validationStatus}"
                                  styleClass="#{managedBean.selectedObject.validationStatus}"
                                  rendered="#{not empty managedBean.selectedObject.validationStatus}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.NA']}"
                                  rendered="#{empty managedBean.selectedObject.validationStatus}"/>
                    <h:commandLink action="#{managedBean.downloadResult(managedBean.selectedObject.oid)}" immediate="true">
                        <s:span styleClass="gzl-icon-download text-info"/>
                    </h:commandLink>
                </dd>

                <s:div rendered="#{managedBean.selectedObject.isDicomValidatedObject(managedBean.selectedObject)}">
                    <dt>
                        #{messages['net.ihe.gazelle.ValidationServiceVersion']} : </dt>
                    <dd>
                        <h:outputText
                                rendered="#{managedBean.selectedObject.dicomServiceVersion != null and not empty managedBean.selectedObject.dicomServiceVersion}"
                                value="#{managedBean.selectedObject.dicomServiceVersion}"/>
                        <h:outputText
                                rendered="#{managedBean.selectedObject.dicomServiceVersion == null || empty managedBean.selectedObject.dicomServiceVersion}"
                                value="#{messages['net.ihe.gazelle.Unknown']}"/>

                    </dd>

                </s:div>

                <dt>#{messages['gazelle.evs.client.Permanent.Link']} :</dt>
                <dd>
                    <h:outputLink value="#{managedBean.selectedObject.permanentLink()}" target="_blank">
                        <h:outputText value="#{managedBean.selectedObject.permanentLink()}"/>
                    </h:outputLink>
                </dd>


                <dt>#{messages['net.ihe.gazelle.evs.ValidationDate']} :</dt>
                <dd>
                    <g:date date="true" time="true" value="#{managedBean.selectedObject.validationDate}"
                            tooltip="false"/>
                </dd>

                <ui:insert name="generalInformation"/>

            </dl>
            <ui:define name="panel_footer">
                <ui:include src="/common/informationFooter.xhtml">
                    <ui:param name="managedBean" value="#{managedBean}"/>
                    <ui:param name="idToRender" value="resultPanel"/>
                </ui:include>

            </ui:define>
        </ui:decorate>

        <!-- detailed results -->

        <ui:insert name="detailedResult"/>




        <!-- file content -->
        <ui:decorate template="/layout/panels/_panel_title_id.xhtml">

            <ui:param name="panel_id" value="fileContentPanel"/>
            <ui:define name="panel_title">
                <h:outputText value="#{messages['net.ihe.gazelle.evs.FileContent']}"/>
            </ui:define>
            <ui:insert name="fileContent"/>

        </ui:decorate>

    </s:div>
    <s:div rendered="#{managedBean.selectedObject == null}">
        <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
            <ui:param name="panel_id" value="badid"/>
            <ui:define name="panel_title">
                <h:outputText value="#{messages['net.ihe.gazelle.evsclient.ErrorInThisApplication']}"/>
            </ui:define>
            <h:outputText value="#{messages['net.ihe.gazelle.evs.TheGivenIDIsUnknown']}"/>
        </ui:decorate>
    </s:div>
    <ui:include src="/common/sendToProxyPanel.xhtml"/>
</ui:composition>
