<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:c="http://java.sun.com/jstl/core"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml">
    <s:div id="resultPanel" rendered="#{objectForValidatorDetectorResultDisplay.selectedObject != null}">


        <!-- buttons for download and validation -->
        <!-- 			<h:commandButton id="downloadResultButton" -->
        <!-- 				action="#{objectForValidatorDetectorResultDisplay.downloadResult()}" -->
        <!-- 				value="Download analysis outcome" -->
        <!-- 				styleClass="btn btn-default" /> -->


        <s:div id="testDiv">
            <!-- general information displayed when from messageContentAnalyzer but not from detailledResults -->

            <ui:decorate template="/layout/panels/_panel_title_id.xhtml">

                <ui:param name="panel_id" value="generalTreePanel"/>

                <ui:define name="panel_title">
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.FileDescription']}"/>
                </ui:define>


                <s:div style="display: inline-block; float:left;">

                    <s:div style="float: left; display: inline-table;">
                        <a4j:region>


                            <rich:tree id="treeOfParams" value="#{analyzerBean.buildTree()}" var="node"
                                       style="vertical-align:top"
                                       rowKeyConverter="org.richfaces.IntegerSequenceRowKeyConverter"
                                       adviseNodeOpened="#{analyzerBean.adviseNodeOpened}"
                                       adviseNodeSelected="#{analyzerBean.adviseNodeSelected}"
                                       selectionType="client" execute="@this" render="panelPartArea" toggleType="client">
                                <rich:treeNode expanded="#{true}">
                                    <h:outputText value="#{node.data.docType}"
                                                  rendered="#{empty node.data.validationType}"/>
                                    <h:outputText value="#{node.data.validationType}"
                                                  rendered="#{not empty node.data.validationType}"/>

                                    <a4j:commandLink
                                            action="#{analyzerBean.validate(analyzerBean.analyzedObject.objectPath,node.data.validationType, node.data.startOffset, node.data.endOffset, node.data.messageContentAnalyzerOid)}"
                                            target="_blank"
                                            execute="resultFormTokenId"
                                            rendered="#{node.data.validationType!='UNKNOWN' and not empty node.data.validationType}">
                                        <s:span title="#{messages['net.ihe.gazelle.xval.Validate']}" styleClass="gzl-icon-play"/>
                                    </a4j:commandLink>
                                    <a4j:commandLink
                                            action="#{analyzerBean.validate(analyzerBean.analyzedObject.objectPath,'XML', node.data.startOffset, node.data.endOffset, node.data.messageContentAnalyzerOid)}"
                                            target="_blank"
                                            execute="resultFormTokenId"
                                            rendered="#{empty node.data.validationType}">
                                        <s:span title="#{messages['net.ihe.gazelle.xval.Validate']}" styleClass="gzl-icon-play"/>
                                    </a4j:commandLink>
                                    <h:outputLink
                                            value="#{analyzerBean.getValidationPermanentLinkFromDb(node.data.messageContentAnalyzerOid)}"
                                            target="_blank"
                                            rendered="#{analyzerBean.getValidationPermanentLinkFromDb(node.data.messageContentAnalyzerOid)!='not performed'}">
                                        <s:span title="#{messages['gazelle.evs.ClickToViewValidationOutcome']}" styleClass="#{analyzerBean.getIconForNode(node.data)}"/>
                                    </h:outputLink>

                                    <a4j:commandLink
                                            title="#{messages['net.ihe.gazelle.evs.ViewPart']}"
                                            ignoreDupResponses="true"
                                            action="#{analyzerBean.viewMessagePart(analyzerBean.analyzedObject.objectPath,node.data.validationType, node.data.startOffset, node.data.endOffset)}"
                                            render="panelPartArea">
                                        <s:span title="#{messages['net.ihe.gazelle.evs.ViewPart']}" styleClass="gzl-icon-eye"/>
                                    </a4j:commandLink>

                                    <h:commandLink
                                            title="#{messages['net.ihe.gazelle.evs.DownloadPart']}"
                                            ignoreDupResponses="true"
                                            action="#{analyzerBean.downloadFile(analyzerBean.analyzedObject.objectPath,node.data.validationType, node.data.startOffset, node.data.endOffset)}"
                                    >
                                        <s:span title="#{messages['net.ihe.gazelle.xval.Download']}" styleClass="gzl-icon-download"/>
                                    </h:commandLink>

                                </rich:treeNode>
                            </rich:tree>
                        </a4j:region>
                    </s:div>


                    <s:div id="panelPartArea">
                        <a4j:region>

                            <s:div id="indentedMessage">
                                <s:decorate template="/layout/form/_checkbox.xhtml">
                                    <ui:param name="id" value="cb2"/>
                                    <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.IndentContent']}</ui:define>
                                    <h:selectBooleanCheckbox id="cb2" value="#{analyzerBean.indentMessageInGUI}">
                                        <a4j:ajax event="change" render="panelPartArea"/>
                                    </h:selectBooleanCheckbox>
                                </s:decorate>
                                <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.TheFollowingContentHasBeenModifiedindentedForBet']}"/>
                                <h:inputTextarea id="messagearea3" readonly="false" styleClass="#{analyzerBean.indentMessageInGUI?'xml-indented':''}"
                                                 value="#{analyzerBean.messagePart}"
                                                 cols="128" rows="20" maxlength="2048">
                                    <a4j:ajax event="keyup" render="buttdiv"
                                              listener="#{analyzerBean.setSelectedMessagePartEdited(true)}"/>
                                </h:inputTextarea>
                            </s:div>



                            <s:div id="buttdiv">
                                <a4j:commandLink id="savemodif" rendered="#{analyzerBean.selectedMessagePartEdited}"
                                                 value="#{messages['net.ihe.gazelle.AnalyzeThisEditedPart']}"
                                                 execute="resultFormTokenId"
                                                 action="#{analyzerBean.executeOnEditedPart()}"/>

                            </s:div>
                        </a4j:region>
                    </s:div>

                </s:div>

            </ui:decorate>
        </s:div>
    </s:div>
</ui:composition>
