<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml">
    <s:div id="sendToProxyPanel4XmlBasedFilesDiv" >

        <ui:decorate template="/layout/popup/_popup_title_footer.xhtml">
            <ui:param name="popup_id" value="sendBackToCallingTool"/>
            <ui:define name="popup_title">#{messages['net.ihe.gazelle.EVSClient-ui.PleaseConfirm']}</ui:define>
            <p><h:outputText value="#{messages['net.ihe.gazelle.SendBackResultToTool']}"/></p>
            <ui:define name="popup_footer">
                <h:commandButton value="#{messages['net.ihe.gazelle.evs.Cancel']}"
                                 styleClass="gzl-btn"
                                 oncomplete="jq162('#sendBackToCallingTool').modal('hide');"/>
                <h:commandButton value="#{messages['net.ihe.gazelle.OK']}" action="#{resultDisplayManager.sendPermaLink()}"
                                 styleClass="gzl-btn-green"
                                 oncomplete="jq162('#sendBackToCallingTool').modal('hide');"/>
            </ui:define>
        </ui:decorate>


    </s:div>
</ui:composition>
