<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns="http://www.w3.org/1999/xhtml">

    <rich:panel switchType="client" bodyClass="styleResultBackground" id="panelDesc">
        <s:div rendered="#{(bean.selectedTemplate != null)}">
            <h:outputText value="#{messages['net.ihe.gazelle.evs.Templates']}" style="font-weight:bold;"/>
            <br/>
            <rich:list value="#{bean.selectedTemplate.templateId}" var="templateId" type="unordered">
                <h:outputText value="#{templateId.id} : #{templateId.name}"/>
            </rich:list>
        </s:div>

        <s:decorate id="resultValidationId" template="/layout/display/_display.xhtml">
            <ui:define name="label">#{messages['gazelle.evs.client.pdf.result']} </ui:define>
            <h:outputText value="#{bean.getResultValidation()}" styleClass="#{bean.getResultValidation()}"/>
        </s:decorate>
        <s:decorate id="resultDetailsId" template="/layout/display/_display.xhtml">
            <ui:define name="label">#{messages['net.ihe.gazelle.evs.Summary']} </ui:define>
            <ul>
                <li>#{bean.selectedListNotifications.size()} #{messages['net.ihe.gazelle.evs.Checks']}</li>
                <li>#{bean.getMDANumberErrors()} #{messages['net.ihe.gazelle.evs.Errors']}</li>
                <li>#{bean.getMDANumberWarnings()} #{messages['net.ihe.gazelle.evs.Warnings']}</li>
                <li>#{bean.getMDANumberInfos()} #{messages['net.ihe.gazelle.evs.Infos']}</li>
            </ul>
        </s:decorate>


        <br/><b>#{messages['net.ihe.gazelle.evs.HIDE']} </b>
        <input type="checkbox" name="Errors"  onclick="hideOrUnhideMB(this)"/>
        #{messages['gazelle.evs.client.errors']}
        <input type="checkbox" name="Warnings" onclick="hideOrUnhideMB(this)"/>
        #{messages['gazelle.evs.client.warnings']}
        <input type="checkbox" name="Infos" onclick="hideOrUnhideMB(this)"/>
        #{messages['net.ihe.gazelle.evs.Infos_2']}
        <input type="checkbox" name="Reports" onclick="hideOrUnhideMB(this)"/>
        #{messages['net.ihe.gazelle.evs.Reports']}

        <s:div rendered="#{bean.getMDANumberErrors() &gt; 0}" id="Errors_p">
            <h:outputText value="#{messages['gazelle.evs.client.errors']}" style="font-weight:bold;"/>
            <ui:decorate template="/layout/panels/_panel.xhtml">
                <a4j:repeat value="#{bean.getMDAErrors()}" var="error" rowKeyVar="status">
                    <dl class="dl-horizontal gzl-notification gzl-notification-red">
                        <dt>#{messages['gazelle.evs.client.Test']}</dt>
                        <dd><h:outputText value="#{error.test}"/><span class="report-number"><a id="e#{status}">#{messages['net.ihe.gazelle.EVSClient-ui.E']} - #{status+1}</a></span></dd>
                        <dt>#{messages['gazelle.evs.client.Location']}</dt>
                        <dd><h:outputText value="#{error.location}"/>
                            <a4j:commandLink   execute="resultFormStoken"  title="#{messages['net.ihe.gazelle.EVSClient-ui.ViewInDocument']}" onclick="gotoNode(this, false);"><span class="gzl-icon-eye" /></a4j:commandLink>
                        </dd>
                        <dt>#{messages['gazelle.evs.client.Description']}</dt>
                        <dd>#{error.description} <a target="_blank" href="#{applicationPreferenceManager.getStringValue('cda_validator_app_url')}/docum/constraints/constraintDescriptor.seam?name=#{error.identifiant.split('-')[2]}&amp;pack=#{error.identifiant.split('-')[0]}&amp;class=#{error.identifiant.split('-')[1]}"><span  class="gzl-icon-link"/></a></dd>
                    </dl>
                </a4j:repeat>
            </ui:decorate>
        </s:div>

        <s:div rendered="#{bean.getMDANumberWarnings() &gt; 0}" id="Warnings_p">
            <h:outputText value="#{messages['gazelle.evs.client.warnings']} " style="font-weight:bold;"/>
            <ui:decorate template="/layout/panels/_panel.xhtml">
                <a4j:repeat value="#{bean.getMDAWarnings()}" var="warn" rowKeyVar="status">
                    <dl class="dl-horizontal gzl-notification gzl-notification-orange ">
                        <dt>#{messages['gazelle.evs.client.Test']}</dt>
                        <dd><h:outputText value="#{warn.test}"/><span class="report-number"><a id="w#{status+1}">#{messages['net.ihe.gazelle.EVSClient-ui.W']} - #{status+1}</a></span></dd>
                        <dt>#{messages['gazelle.evs.client.Location']}</dt>
                        <dd><h:outputText value="#{warn.location}"/>
                            <a4j:commandLink  execute="resultFormStoken"   title="#{messages['net.ihe.gazelle.EVSClient-ui.ViewInDocument']}" onclick="gotoNode(this, false);"><span class="gzl-icon-eye" /></a4j:commandLink>
                        </dd>
                        <dt>#{messages['gazelle.evs.client.Description']}</dt>
                        <dd>#{warn.description} <a target="_blank" href="#{applicationPreferenceManager.getStringValue('cda_validator_app_url')}/docum/constraints/constraintDescriptor.seam?name=#{warn.identifiant.split('-')[2]}&amp;pack=#{warn.identifiant.split('-')[0]}&amp;class=#{warn.identifiant.split('-')[1]}"><span  class="gzl-icon-link"/></a></dd>
                    </dl>
                </a4j:repeat>
            </ui:decorate>
        </s:div>

        <s:div rendered="#{bean.getMDANumberInfos() &gt; 0}" id="Infos_p" >
            <h:outputText value="#{messages['net.ihe.gazelle.evs.Infos_2']}" style="font-weight:bold;"/>
            <ui:decorate template="/layout/panels/_panel.xhtml">
                <a4j:repeat value="#{bean.getMDAInfos()}" var="info" rowKeyVar="status">
                    <dl class="dl-horizontal gzl-notification gzl-notification-green">
                        <dt>#{messages['gazelle.evs.client.Test']}</dt>
                        <dd><h:outputText value="#{info.test}"/><span class="report-number"><a id="i#{status+1}">#{messages['net.ihe.gazelle.EVSClient-ui.I']} - #{status+1}</a></span></dd>
                        <dt>#{messages['gazelle.evs.client.Location']}</dt>
                        <dd><h:outputText value="#{info.location}"/>
                            <a4j:commandLink  execute="resultFormStoken"   title="#{messages['net.ihe.gazelle.EVSClient-ui.ViewInDocument']}" onclick="gotoNode(this, false);"><span class="gzl-icon-eye" /></a4j:commandLink>
                        </dd>
                        <dt>#{messages['gazelle.evs.client.Description']}</dt>
                        <dd>#{info.description} <a target="_blank" href="#{applicationPreferenceManager.getStringValue('cda_validator_app_url')}/docum/constraints/constraintDescriptor.seam?name=#{error.identifiant.split('-')[2]}&amp;pack=#{error.identifiant.split('-')[0]}&amp;class=#{info.identifiant.split('-')[1]}"><span  class="gzl-icon-link"/></a></dd>
                    </dl>
                </a4j:repeat>
            </ui:decorate>
        </s:div>

        <s:div rendered="#{bean.getMDANumberReports() &gt; 0}" id="Reports_p" >
            <h:outputText value="#{messages['net.ihe.gazelle.evs.Report']}" style="font-weight:bold;"/>
            <ui:decorate template="/layout/panels/_panel.xhtml">
                <a4j:repeat value="#{bean.getMDAReports()}" var="report" rowKeyVar="status">
                    <dl class="dl-horizontal gzl-notification gzl-notification-green">
                        <dt>#{messages['gazelle.evs.client.Test']}</dt>
                        <dd><h:outputText value="#{report.test}"/><span class="report-number"><a id="r#{status+1}">#{messages['net.ihe.gazelle.EVSClient-ui.R']} - #{status +1}</a></span></dd>
                        <dt>#{messages['gazelle.evs.client.Location']}</dt>
                        <dd><h:outputText value="#{report.location}"/>
                            <a4j:commandLink   execute="resultFormStoken"  title="#{messages['net.ihe.gazelle.EVSClient-ui.ViewInDocument']}" onclick="gotoNode(this, false);"><span class="gzl-icon-eye" /></a4j:commandLink>
                        </dd>
                        <dt>#{messages['gazelle.evs.client.Description']}</dt>
                        <dd>#{report.description} <a target="_blank" href="#{applicationPreferenceManager.getStringValue('cda_validator_app_url')}/docum/constraints/constraintDescriptor.seam?name=#{report.identifiant.split('-')[2]}&amp;pack=#{report.identifiant.split('-')[0]}&amp;class=#{report.identifiant.split('-')[1]}"><span  class="gzl-icon-link"/></a></dd>
                    </dl>
                </a4j:repeat>
            </ui:decorate>
        </s:div>

        <s:div rendered="#{bean.getMDANumberReports() &gt; 100}">
            <table style="width:98%" class="moore">
                <tbody>
                <tr>
                    <td width="100" valign="top"><b>#{messages['net.ihe.gazelle.evs.AllErrorsAndWarningsAreShownAboveIfYouWantToView']}</b><br/>
                        <span id="downloadspan">
                            <h:commandButton action="#{bean.downloadResultAsXml('model-based')}"
                                             value="#{messages['net.ihe.gazelle.evs.DownloadModelBasedValidationResult']}"
                                             rendered="#{bean.selectedObject.mbvalidator != null}"
                                             styleClass="gzl-btn-blue"/>
                        </span>
                    </td>
                </tr>
                </tbody>
            </table>
        </s:div>
    </rich:panel>
</ui:composition>
