<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml">
    <!-- This template must be included using a s:decorate element in a <ui:define name="body"> element-->
    <!-- parameters: validationType
                       managedBean (extends AbstractXMLValidator)-->
    <h:form id="globalForm">
        <h:outputText style="display: none;" styleClass="scriptLocalization" value="#{applicationConfiguration.getLocalizationCDAPIDs()}"/>
        <h:outputScript library="jscript" name="checkPid.js"/>
        <a4j:jsFunction name="ontyperejected" actionListener="#{managedBean.setMessageInvalidFileType()}"/>
        #{managedBean.init(validationType)}
        <a4j:outputPanel id="globalDiv">
            <s:div rendered="#{!managedBean.getValidationDone()}">
                <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">
                    <ui:param name="panel_id" value="validatorPanel"/>
                    <ui:define name="panel_title">
                        <h:outputText value="#{messages['gazelle.evs.client.cda.validator.panel.title']}"/>
                        <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{managedBean.reset()}"
                                             render="@form">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                    </ui:define>

                    <s:div rendered="#{managedBean.standardDescription != null}">
                        <s:span styleClass="help-block">
                            <g:safehtml value="#{managedBean.standardDescription}"/>
                        </s:span>
                    </s:div>
                    <s:div id="additionalData">
                        <ui:insert name="additionalInfo"/>
                    </s:div>
                    <s:span rendered="#{applicationConfiguration.isCheckCDAPIDs()}">
                        <s:div id="uploadFile">
                            <s:div rendered="#{managedBean.validatedFile == null}">
                                <h:outputText id="fileUploadInfo"
                                              value="#{messages['gazelle.evs.client.cda.validator.file.upload']}"/>
                                <rich:fileUpload id="fileInput" fileUploadListener="#{managedBean.uploadEventListener}"
                                                 maxFilesQuantity="1"
                                                 acceptedTypes="#{managedBean.acceptedFileTypes}"
                                                 listHeight="60px"
                                                 onfileselect="check_file();"
                                                 ontyperejected="ontyperejected();"
                                                 styleClass="uploadedFileDiv">
                                    <a4j:ajax event="uploadcomplete"
                                              render="panel_footer_id,uploadFile,downloadedMessage,methodSelectionDecoration"/>
                                </rich:fileUpload>
                            </s:div>
                        </s:div>
                    </s:span>
                    <s:div id="downloadedMessage">
                        <s:div rendered="#{managedBean.validatedFile != null and managedBean.validatedFile.filePath != null}">
                            <ui:decorate template="/layout/panels/_panel_id.xhtml">
                                <ui:param name="panel_id" value="fileNameInfo"/>
                                <s:decorate id="fileNameInfoDecoration" template="/layout/display/_display.xhtml">
                                    <ui:define name="label">#{messages['gazelle.evs.client.uploaded.file.name']}
                                    </ui:define>
                                    <h:outputText value="#{managedBean.validatedFile.description}">
                                    </h:outputText>
                                </s:decorate>
                                <s:decorate template="/layout/form/_checkbox.xhtml">
                                    <ui:param name="id" value="cb"/>
                                    <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.ShowContent']}
                                    </ui:define>
                                    <h:selectBooleanCheckbox id="cb" value="#{managedBean.showMessageInGUI}">
                                        <a4j:ajax event="change" render="viewMessage"/>
                                    </h:selectBooleanCheckbox>
                                </s:decorate>
                                <s:div id="viewMessage">
                                    <s:div id="displayTopViewMessage" rendered="#{managedBean.showMessageInGUI }">
                                        <s:decorate template="/layout/form/_checkbox.xhtml">
                                            <ui:param name="id" value="cb2"/>
                                            <ui:define name="label">
                                                #{messages['net.ihe.gazelle.EVSClient-ui.IndentContent']}
                                            </ui:define>
                                            <h:selectBooleanCheckbox id="cb2" value="#{managedBean.indentMessageInGUI}">
                                                <a4j:ajax event="change" render="viewMessage"/>
                                            </h:selectBooleanCheckbox>
                                        </s:decorate>
                                        <s:div id="indentedMessage">
                                            <h:outputText
                                                    value="#{messages['net.ihe.gazelle.EVSClient-ui.TheFollowingContentHasBeenModifiedindentedForBet']}"/>
                                            <h:inputTextarea id="messagearea1" readonly="true"
                                                             styleClass="#{analyzerBean.indentMessageInGUI?'xml-indented':''}"
                                                             value="#{managedBean.getFileContent()}"
                                                             cols="128" rows="20" maxlength="2048">
                                            </h:inputTextarea>
                                        </s:div>
                                    </s:div>
                                </s:div>
                            </ui:decorate>
                        </s:div>
                    </s:div>
                    <s:div>
                        <p id="scriptResult"/>
                    </s:div>
                    <s:div id="methodSelectionDecoration" styleClass="form-horizontal">


                        <s:decorate template="/layout/display/_display.xhtml">
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.SelectAValidator']}</ui:define>
                        </s:decorate>


                        <s:decorate template="/layout/form/_form_field_horizontal_inline.xhtml"
                                    rendered="#{managedBean.schematronBasedValidationService != null}">
                            <ui:param name="id" value="senddtxt"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.Schematron']} :</ui:define>
                            <h:selectOneMenu styleClass="form-control gzl-form-control gzl-select-text" id="senddtxt"
                                             value="#{managedBean.selectedSchematron}">
                                <s:selectItems
                                        value="#{managedBean.availableSchematrons}"
                                        var="schematron" noSelectionLabel="#{messages['gazelle.common.PleaseSelect']}"
                                        label="#{schematron}"/>
                                <a4j:ajax event="change" render="panel_footer_id"/>
                            </h:selectOneMenu>
                            <s:div style="width: 90%;"
                                   rendered="#{managedBean.schematronBasedValidationServiceDescription != null}">
                                <s:span styleClass="help-block">
                                    <g:safehtml value="#{managedBean.schematronBasedValidationServiceDescription}"/>
                                </s:span>
                            </s:div>
                        </s:decorate>
                        <s:decorate template="/layout/display/_display.xhtml"
                                    rendered="#{managedBean.modelBasedValidationService != null and managedBean.schematronBasedValidationService != null}">
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.AndOr']}</ui:define>
                        </s:decorate>

                        <s:decorate template="/layout/form/_form_field_horizontal_inline.xhtml"
                                    rendered="#{managedBean.modelBasedValidationService != null}">
                            <ui:param name="id" value="senddtxt"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.ModelBasedValidation']} :
                            </ui:define>
                            <h:selectOneMenu styleClass="form-control gzl-form-control gzl-select-text" id="senddtxt"
                                             value="#{managedBean.selectedMBValidation}" render="panel_footer_id">
                                <s:selectItems
                                        value="#{managedBean.availableMBValidations}"
                                        var="mbv" noSelectionLabel="#{messages['gazelle.common.PleaseSelect']}"
                                        label="#{mbv}"/>
                                <a4j:ajax event="change" render="panel_footer_id"/>
                            </h:selectOneMenu>
                            <s:div style="width: 90%;"
                                   rendered="#{managedBean.modelBasedValidationServiceDescription != null}">
                                <s:span styleClass="help-block">
                                    <g:safehtml value="#{managedBean.modelBasedValidationServiceDescription}"/>
                                </s:span>
                            </s:div>
                        </s:decorate>
                    </s:div>


                    <ui:define name="panel_footer">
                        <s:div id="panel_footer_id">

                            <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>

                            <a4j:commandButton id="validateCDAButton" styleClass="gzl-btn-blue"
                                               value="#{messages['gazelle.evs.client.validate']}"
                                               actionListener="#{managedBean.validateFile()}"
                                               oncomplete="
                                               #{resultDisplayManager.init(managedBean.validatedFile.oid, validationType, null)};
                                               if(#{resultDisplayManager.sendBackResultToTool()})
                                                {jq162('#sendBackToCallingTool').modal('show')}
                                                else
                                                {jq162('#sendBackToCallingTool').modal('hide')}"
                                               rendered="#{managedBean.validatedFile != null and (managedBean.selectedMBValidation != null or managedBean.selectedSchematron != null)}"
                                               render="@form" execute="@form"/>
                            <a4j:commandButton id="resetButton" styleClass="gzl-btn"
                                               value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                               actionListener="#{managedBean.reset()}" render="@form" execute="@form"/>

                        </s:div>
                    </ui:define>
                </ui:decorate>

            </s:div>
        </a4j:outputPanel>

        <a4j:outputPanel id="validationDiv">
            <s:div rendered="#{managedBean.getValidationDone()}">
                <ui:include id="detailedr" src="/common/detailedResult4XmlBasedFiles.xhtml"/>
            </s:div>
        </a4j:outputPanel>


    </h:form>

</ui:composition>

