<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gazelle="http://www.ihe.net/gazelle" xmlns:rich="http://richfaces.org/rich"
                xmlns:gdk="http://www.ihe.net/gazellecdk" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jstl/core"
                xmlns="http://www.w3.org/1999/xhtml">


    <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">

        <ui:param name="panel_id" value="resultPanel"/>


        <!-- general information -->

        <dl class="dl-horizontal">
            <dt>#{messages['net.ihe.gazelle.evs.Filename']} :</dt>
            <dd>
                <h:outputText value="#{resultDisplayManager.selectedObject.description}"/>
                <h:commandLink action="#{resultDisplayManager.downloadValidatedObject}" immediate="true">
                    <s:span styleClass="gzl-icon-download text-info"/>
                </h:commandLink>
            </dd>


            <dt>#{messages['gazelle.evs.client.Standard']} :</dt>
            <dd>
                <h:outputText value="#{resultDisplayManager.selectedObject.standard.label}"/>
            </dd>

            <dt>#{messages['gazelle.evs.client.saml.oid']} :</dt>
            <dd>
                <h:outputText value="#{resultDisplayManager.selectedObject.oid}"/>
            </dd>

            <dt>#{messages['net.ihe.gazelle.evs.ValidationService']} :</dt>
            <dd>
                <h:outputText value="#{resultDisplayManager.selectedObject.service.name}"/>
            </dd>

            <dt>
                #{messages['net.ihe.gazelle.evs.ValidationStatus']} :
            </dt>

            <dd class="#{dd_styleClass}">
                <h:outputText styleClass="#{resultDisplayManager.getValidationStatus('model-based')}"
                              value="#{resultDisplayManager.getValidationStatus('model-based')}"/>
                <h:commandLink action="#{resultDisplayManager.downloadResultAsXml('model-based')}"
                               rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}">
                    <s:span title="#{messages['gazelle.evs.DownloadValidationResultsXMLFile']})"
                            styleClass="gzl-icon-download text-info"/>
                </h:commandLink>
            </dd>

            <s:div rendered="#{resultDisplayManager.selectedObject.isDicomValidatedObject(resultDisplayManager.selectedObject)}">
                <dt>
                    #{messages['net.ihe.gazelle.ValidationServiceVersion']} :
                </dt>
                <dd>
                    <h:outputText
                            rendered="#{resultDisplayManager.selectedObject.dicomServiceVersion != null and not empty resultDisplayManager.selectedObject.dicomServiceVersion}"
                            value="#{resultDisplayManager.selectedObject.dicomServiceVersion}"/>
                    <h:outputText
                            rendered="#{resultDisplayManager.selectedObject.dicomServiceVersion == null || empty resultDisplayManager.selectedObject.dicomServiceVersion}"
                            value="#{messages['net.ihe.gazelle.Unknown']}"/>

                </dd>

            </s:div>

            <dt>#{messages['gazelle.evs.client.Permanent.Link']} :</dt>
            <dd>
                <h:outputLink value="#{resultDisplayManager.selectedObject.permanentLink()}" target="_blank">
                    <h:outputText value="#{resultDisplayManager.selectedObject.permanentLink()}"/>
                </h:outputLink>
            </dd>


            <dt>#{messages['net.ihe.gazelle.evs.ValidationDate']} :</dt>
            <dd>
                <g:date date="true" time="true" value="#{resultDisplayManager.selectedObject.validationDate}"
                        tooltip="false"/>
            </dd>

            <ui:insert name="generalInformation"/>

        </dl>


        <ui:define name="panel_title">
            <ui:include src="/common/informationHeader.xhtml">
                <ui:param name="managedBean" value="#{resultDisplayManager}"/>
                <ui:param name="idToRender" value="resultPanel"/>
            </ui:include>
        </ui:define>

        <!-- buttons for download and validation -->

        <ui:define name="panel_footer">
            <ui:include src="/common/informationFooter.xhtml">
                <ui:param name="managedBean" value="#{resultDisplayManager}"/>
                <ui:param name="idToRender" value="resultPanel"/>
            </ui:include>

        </ui:define>

    </ui:decorate>

    <s:div>
        <h:outputText value="#{resultDisplayManager.getTransformedDetailedResult('model-based')}"
                      escape="false"/>
    </s:div>


    <s:div id="badid" rendered="#{resultDisplayManager.selectedObject == null}">
        <ui:decorate template="/layout/panels/_panel_title_id.xhtml">
            <ui:param name="panel_id" value="badidPanel"/>
            <ui:define name="panel_title">
                <h:outputText value="#{messages['gazelle.evs.client.cda.unknown.id']}"/>
            </ui:define>#{messages['net.ihe.gazelle.EVSClient-ui.CouldNotFindAnObjectInTheDatabaseCorrespondingTo']}
        </ui:decorate>
    </s:div>


    <ui:include src="/common/sendToProxyPanel4XmlBasedFiles.xhtml"/>
</ui:composition>
