<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.ValidatedPDFFiles']}"/>
    <ui:param name="pageNameUrl" value="/pdf/allLogs.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.ValidatedPDFFiles']} (#{pdfSearch.extension})"/>
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <ui:define name="body">
        <s:decorate template="/common/logTemplate.xhtml">
            <ui:param name="managedBean" value="#{pdfSearch}"/>
            <!-- add criteria (validation service, profile Oid, message extract -->
            <ui:define name="specificFilters">
                <div class="col-lg-8">

                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{pdfSearch.filter}"/>
                        <ui:param name="filterId" value="pdfValid"/>
                        <ui:param name="filterName" value="#{messages['net.ihe.gazelle.evs.Valid']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
                <div class="col-lg-8">

                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{pdfSearch.filter}"/>
                        <ui:param name="filterId" value="pdfWellFormed"/>
                        <ui:param name="filterName" value="#{messages['net.ihe.gazelle.evs.Wellformed']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
                <div class="col-lg-8">

                    <s:decorate template="/layout/form/_edit.xhtml">
                        <ui:define name="label">#{messages['net.ihe.gazelle.evs.PDFProfileextract']}) :</ui:define>
                        <h:inputText value="#{pdfSearch.pdfProfileExtract}" size="80">
                            <a4j:ajax event="blur" render="globalForm"/>
                        </h:inputText>
                    </s:decorate>
                </div>
            </ui:define>
            <!-- all columns (profile Oid, validation service) -->
            <ui:define name="specificColumns">
                <g:column sortBy="#{'pdfValid'}" filterBy="#{'pdfValid'}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.Valid']}</ui:define>
                    <h:outputText value="#{data.pdfValid}"/>
                </g:column>
                <g:column sortBy="#{'pdfWellFormed'}" filterBy="#{'pdfWellFormed'}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.Wellformed']}</ui:define>
                    <h:outputText value="#{data.pdfWellFormed}"/>
                </g:column>
                <g:column sortBy="#{'pdfProfiles'}" filterBy="#{'pdfProfiles'}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.PDFProfiles']}</ui:define>
                    <h:outputText value="#{data.pdfProfiles}"/>
                </g:column>
            </ui:define>
        </s:decorate>
    </ui:define>
</ui:composition>
