<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<s:div xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
       xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
       xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
       xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns="http://www.w3.org/1999/xhtml">
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <s:decorate template="/common/detailedResultTemplate.xhtml">
        <ui:param name="managedBean" value="#{pdfResultDisplay}"/>
        <!-- generalInformation -->
        <ui:define name="generalInformation">



                <dt>#{messages['net.ihe.gazelle.evs.PDFWellformed']} :</dt>
                <dd>
                    <h:outputText  styleClass="#{pdfResultDisplay.selectedObject.pdfWellFormedColor}"
                                   value="#{pdfResultDisplay.selectedObject.pdfWellFormed}"/>
                </dd>

                <dt>#{messages['net.ihe.gazelle.evs.PDFValid']} :</dt>
                <dd>
                    <h:outputText styleClass="#{pdfResultDisplay.selectedObject.pdfValidColor}"
                                  value="#{pdfResultDisplay.selectedObject.pdfValid}"/>
                </dd>

                <dt>#{messages['gazelle.evs.client.pdf.testedPdfProfiles']} :</dt>
                <dd>
                    <h:outputText value="#{pdfResultDisplay.selectedObject.testedPdfProfiles}"/>
                </dd>




                <dt>#{messages['gazelle.evs.client.pdf.pdfProfiles']} :</dt>
                <dd>
                    <h:outputText value="#{pdfResultDisplay.selectedObject.pdfProfiles}"
                                  styleClass="#{pdfResultDisplay.selectedObject.pdfProfileColor}"
                                  rendered="#{not empty pdfResultDisplay.selectedObject.pdfProfiles}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.None']}"
                                  styleClass="#{pdfResultDisplay.selectedObject.pdfProfileColor}"
                                  rendered="#{empty pdfResultDisplay.selectedObject.pdfProfiles}"/>
                </dd>

        </ui:define>
        <!-- detailed result -->
        <ui:define name="detailedResult">
            <h:outputLink value="http://gazelle.ihe.net/content/xds-sd-document-validation" target="_blank">
                <h:outputText
                        value="#{messages['net.ihe.gazelle.evs.ThePDFFileHasBeenVerifiedUsing']} #{pdfResultDisplay.selectedObject.service.name} #{messages['net.ihe.gazelle.evs.AsDescribedInXDSSDDocumentValidation']}"/>
            </h:outputLink>
            <br/>
            <h:outputText value="#{pdfResultDisplay.getStringDetailedResult()}" escape="false"/>
            <br/>
        </ui:define>
        <!-- document content -->
        <ui:define name="fileContent">
            <h:outputText value="#{messages['net.ihe.gazelle.evs.BelowAreThePDFFilePropertiesExtractedByJHOVE']}"/>
            <br/>



            <rich:tree value="#{pdfResultDisplay.getXmlTree()}" var="node"  toggleType="client" >
                <rich:treeNode expanded="#{true}" >
                    <h:outputText value="#{node.data}"/>
                </rich:treeNode>
            </rich:tree>


        </ui:define>
    </s:decorate>
</s:div>
