<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['gazelle.evs.client.pdf.validator.title']}"/>
    <ui:param name="pageNameUrl" value="pdf/validator.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.evs.client.pdf.validator.title']}"/>
    <ui:define name="header">
        <h:outputScript library="jscript" name="goto.js"/>
        <h:outputScript library="jscript" name="tooltip.js"/>
        <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="globalForm">
            <s:div id="globalDiv" rendered="#{!pdfValidationManagerBean.getValidationDone()}">

                <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">


                    <ui:param name="panel_id" value="validatorPanel"/>
                    <ui:define name="panel_title">
                        <h:outputText value="#{messages['gazelle.evs.client.pdf.validator.title']}"/>
                        <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{pdfValidationManagerBean.reset()}"
                                             render="@form" execute="globalFormTokenId">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                    </ui:define>

                    #{pdfValidationManagerBean.init()}
                    <s:div rendered="#{pdfValidationManagerBean.standardDescription != null}">
                        <h:outputText id="standardDescription" value="#{pdfValidationManagerBean.standardDescription}"
                                      style="font-weight: bold;"/>

                        <br/><br/><br/></s:div>

                    <s:div rendered="#{pdfValidationManagerBean.validatedPdf == null}">
                        <s:div id="uploadFile">
                            <h:outputText id="fileUploadInfo"
                                          value="#{messages['gazelle.evs.client.pdf.validator.file.upload']}"/>


                            <rich:fileUpload id="uploadPDFFile" fileUploadListener="#{pdfValidationManagerBean.uploadEventListener}"
                                             maxFilesQuantity="1"
                                             acceptedTypes="#{pdfValidationManagerBean.acceptedFileTypes}"
                                             listHeight="60px"
                                             immediateUpload="true"
                                             ontyperejected="ontyperejected()">
                                <a4j:ajax event="uploadcomplete" render="globalForm, panel_footer_id" execute="globalFormTokenId"/>
                            </rich:fileUpload>

                            <a4j:jsFunction name="ontyperejected" actionListener="#{pdfValidationManagerBean.setMessageInvalidFileType()}"/>

                        </s:div>
                    </s:div>


                    <s:div rendered="#{pdfValidationManagerBean.validatedPdf != null}">
                        <s:div id="downloadMessage">
                            <ui:decorate template="/layout/panels/_panel_id.xhtml">
                                <ui:param name="panel_id" value="fileNameInfo"/>
                                <s:decorate id="fileNameInfoDecoration" template="/layout/display/_display.xhtml">
                                    <ui:define name="label">#{messages['gazelle.evs.client.uploaded.file.name']} </ui:define>
                                    <h:outputText id="fileNameInfoValue"
                                                  value="#{pdfValidationManagerBean.validatedPdf.description}"/>

                                </s:decorate>
                            </ui:decorate>


                        </s:div>


                    </s:div>

                    <ui:define name="panel_footer">
                        <s:div id="panel_footer_id">


                            <a4j:commandButton id="validateMessageButton" styleClass="gzl-btn-blue" execute="globalFormTokenId"
                                               value="#{messages['gazelle.evs.client.validate']}"
                                               rendered="#{pdfValidationManagerBean.validatedPdf != null}"
                                               actionListener="#{pdfValidationManagerBean.validateMessage()}"
                                               oncomplete="
                                               #{pdfResultDisplay.init(pdfValidationManagerBean.validatedPdf.oid, null)};
                                               if(#{pdfResultDisplay.sendBackResultToTool()})
                                                {jq162('#sendBackToCallingTool').modal('show')}
                                                 else
                                                {jq162('#sendBackToCallingTool').modal('hide')}"
                                               render="@form"/>
                            <a4j:commandButton id="resetButton" styleClass="gzl-btn"
                                               value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                               actionListener="#{pdfValidationManagerBean.reset()}"
                                               render="@form" execute="globalFormTokenId"/>

                        </s:div>
                    </ui:define>


                </ui:decorate>

            </s:div>
            <s:div id="validationDiv" rendered="#{pdfValidationManagerBean.getValidationDone()}">

                <s:div id="validationResultPanel" rendered="#{pdfValidationManagerBean.displayResult == true}">
                    <ui:include src="/pdf/detailedResult.xhtml"/>
                </s:div>
            </s:div>
        </h:form>
    </ui:define>
</ui:composition>
