<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<s:div xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
       xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
       xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
       xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns="http://www.w3.org/1999/xhtml">
    <s:decorate template="/common/detailedResultTemplate.xhtml">
        <ui:param name="managedBean" value="#{certificatesResultDisplay}"/>
        <ui:define name="header">
            <h:outputScript library="jscript" name="prettify.js"/>
            <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
            <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
            <h:outputStylesheet library="stylesheet" name="prettify.css"/>
        </ui:define>
        <!-- generalInformation -->
        <ui:define name="generalInformation">
            <dt>#{managedBean.selectedObject.service.name} :</dt>
            <dd>
                <h:outputText value="#{certificatesResultDisplay.selectedObject.validationContext}"/>
            </dd>
        </ui:define>
        <!-- detailed result -->
        <ui:define name="detailedResult">
            <h:outputText value="#{certificatesResultDisplay.getStringDetailedResult()}" escape="false"/>
        </ui:define>
        <!-- document content -->
        <ui:define name="fileContent">
            <h:outputText style="word-wrap: break-word" value="#{certificatesResultDisplay.getStringCertificates()}" escape="false"/>
        </ui:define>
    </s:decorate>
</s:div>
