<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<s:div xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
       xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
       xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
       xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns="http://www.w3.org/1999/xhtml" template="/layout/template.xhtml">
    <!-- param: certificates -->
    <rich:dataTable id="logListTable"
                    value="#{certificates}"
                    var="certificate"
                    rows="#{dataScrollerMemory.numberOfResultsPerPage}"
                    render="ds">
        <g:column id="oidColumn" sortBy="#{'id'}" sortOrder="#{datatablestateholder.sortorders['id']}">
            <ui:define name="header">#{messages['gazelle.evs.client.saml.oid']}</ui:define>
            <a href="#{applicationPreferenceManager.applicationUrl}/tlsResult.seam?oid=#{certificate.oid}"
               target="_blank">#{certificate.oid}</a>
        </g:column>
        <g:column id="dateColumn" sortBy="#{'validationDate'}"
                  sortOrder="#{datatablestateholder.sortorders['validationdate']}">
            <ui:define name="header">#{messages['gazelle.evs.client.validation.date']}</ui:define>
            #{certificate.validationDate}
        </g:column>
        <g:column id="loginColumn" sortBy="#{'privateUser'}"
                  sortOrder="#{datatablestateholder.sortorders['privateuser']}" rendered="#{s:hasRole('monitor_role') or s:hasRole('admin_role')}">
            <ui:define name="header">#{messages['gazelle.evs.client.validation.login']}</ui:define>
            #{certificate.privateUser}
        </g:column>
        <g:column id="typeColumn" sortBy="#{'validationContext'}"
                  sortOrder="#{datatablestateholder.sortorders['validationcontext']}">
            <ui:define name="header">#{messages['gazelle.evs.client.validation']}</ui:define>
            #{certificate.validationContext}
        </g:column>
        <g:column id="resultColumn" sortBy="#{'validationStatus'}"
                  sortOrder="#{datatablestateholder.sortorders['validationstatus']}">
            <ui:define name="header">#{messages['gazelle.evs.client.validationStatus']}</ui:define>
            #{certificate.validationStatus}
        </g:column>
        <f:facet name="footer">
            <ui:include src="/util/datatableFooter.xhtml">
                <ui:param name="dataScrollerId" value="ds"/>
                <ui:param name="dataTableId" value="logListTable"/>
            </ui:include>
        </f:facet>
    </rich:dataTable>
</s:div>
