<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['gazelle.evs.client.tls.validator.title']}"/>
    <ui:param name="pageNameUrl" value="tls/validator.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.evs.client.tls.validator.title']}"/>
    <ui:define name="header">
        <h:outputScript library="jscript" name="goto.js"/>
        <h:outputScript library="jscript" name="tooltip.js"/>
        <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
    </ui:define>
    <ui:define name="body">
        <h:form id="globalForm">
            #{certificatesValidationManager.init()}
            <s:div id="globalDiv" rendered="#{!certificatesValidationManager.getValidationDone()}">


                <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">


                    <ui:param name="panel_id" value="validatorPanel"/>
                    <ui:define name="panel_title">
                        <h:outputText value="#{messages['gazelle.evs.client.tls.validator.panel.title']}"/>
                        <span class="pull-right">
                            <a4j:commandLink title="#{messages['net.ihe.gazelle.evs.ResetFilters']}"
                                             actionListener="#{certificatesValidationManager.reset()}"
                                             render="@form">
                                <span class="gzl-icon-times-circle"/>
                            </a4j:commandLink>
                        </span>
                    </ui:define>



                    <s:div rendered="#{certificatesValidationManager.extension != null}">
                        <h:outputText id="standardDescription" value="#{certificatesValidationManager.extension}"
                                      style="font-weight: bold;"/>
                    </s:div>

                    <s:div id="uploadFile">
                        <s:div rendered="#{certificatesValidationManager.validatedCertificates == null}">
                            <h:outputText id="fileUploadInfo"
                                          value="#{messages['gazelle.evs.client.tls.validator.file.upload']}"/>
                            <rich:fileUpload id="uploadPEMFile" fileUploadListener="#{certificatesValidationManager.uploadEventListener}"
                                             maxFilesQuantity="1"
                                             acceptedTypes="#{certificatesValidationManager.acceptedFileTypes}"
                                             listHeight="60px"
                                             immediateUpload="true"
                                             ontyperejected="ontyperejected()">

                                <a4j:ajax event="uploadcomplete" render="uploadFile, downloadMessage, fileNameInfo, validatorSelectionDecoration, panel_footer_id"/>
                            </rich:fileUpload>

                            <a4j:jsFunction name="ontyperejected" actionListener="#{certificatesValidationManager.setMessageInvalidFileType()}"/>

                        </s:div>
                    </s:div>


                    <s:div id="downloadMessage">
                        <s:div rendered="#{certificatesValidationManager.validatedCertificates != null}">
                            <ui:decorate template="/layout/panels/_panel_id.xhtml">
                                <ui:param name="panel_id" value="fileNameInfo"/>
                                <s:decorate id="fileNameInfoDecoration" template="/layout/display/_display.xhtml">
                                    <ui:define name="label">#{messages['gazelle.evs.client.uploaded.file.name']} </ui:define>
                                    <h:outputText id="fileNameInfoValue"
                                                  value="#{certificatesValidationManager.validatedCertificates.description}"/>
                                </s:decorate>
                                <s:decorate template="/layout/form/_checkbox.xhtml">
                                    <ui:param name="id" value="cb"/>
                                    <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.ShowContent']} </ui:define>
                                    <h:selectBooleanCheckbox id="cb" value="#{certificatesValidationManager.showMessageInGUI}">
                                        <a4j:ajax event="change" render="viewMessage"/>
                                    </h:selectBooleanCheckbox>
                                </s:decorate>

                                <s:div id="viewMessage">
                                    <s:div id="displayTopViewMessage" rendered="#{certificatesValidationManager.showMessageInGUI }">

                                        <h:inputTextarea id="messagearea" readonly="true"
                                                         value="#{certificatesValidationManager.getValidatedCertificates().getFileContent()}"
                                                         cols="128" rows="20" maxlength="2048">
                                        </h:inputTextarea>

                                    </s:div>
                                </s:div>
                            </ui:decorate>
                        </s:div>
                    </s:div>

                    <s:div id="validatorSelectionDecoration" styleClass="form-horizontal">
                        <s:div id="allValidatorSelection">
                            <s:decorate template="/layout/form/_form_checkbox_horizontal_inline.xhtml">
                                <ui:param name="id" value="cb"/>
                                <h:selectBooleanCheckbox id="cb" value="#{certificatesValidationManager.allValidators}">
                                    <a4j:ajax event="change" render="panel_footer_id, allValidatorSelection"/>
                                </h:selectBooleanCheckbox> #{messages['net.ihe.gazelle.evs.TestWithAllValidators']}
                            </s:decorate>

                            <s:decorate template="/layout/form/_form_field_horizontal_inline.xhtml"
                                        rendered="#{certificatesValidationManager.allValidators != true}">
                                <ui:define name="label">#{messages['gazelle.evs.client.tls.validator.choose'] }</ui:define>
                                <h:selectOneMenu id="validatorSelectionOption"
                                                 value="#{certificatesValidationManager.selectedValidator}"
                                                 styleClass="form-control gzl-form-control gzl-select-text">
                                    <f:selectItems
                                            value="#{certificatesValidationManager.getAvailableValidatorsItems()}"
                                            required="true"/>
                                    <a4j:ajax event="change" render="panel_footer_id" />

                                </h:selectOneMenu>
                            </s:decorate>
                        </s:div>
                        <s:decorate template="/layout/form/_form_checkbox_horizontal_inline.xhtml">
                            <h:selectBooleanCheckbox value="#{certificatesValidationManager.checkRevocation}"/> #{messages['net.ihe.gazelle.evs.CheckRevocation'] }
                        </s:decorate>
                    </s:div>


                    <ui:define name="panel_footer">
                        <s:div id="panel_footer_id">



                            <a4j:commandButton id="validateMessageButton" styleClass="gzl-btn-blue"
                                               value="#{messages['gazelle.evs.client.validate']}"
                                               rendered="#{certificatesValidationManager.validatedCertificates  != null}"
                                               actionListener="#{certificatesValidationManager.validateMessage()}"
                                               render="@form"/>

                            <a4j:commandButton id="resetButton" styleClass="gzl-btn"
                                               value="#{messages['net.ihe.gazelle.evs.Reset']}"
                                               actionListener="#{certificatesValidationManager.reset()}"
                                               render="@form"/>
                        </s:div>
                    </ui:define>


                </ui:decorate>
            </s:div>
            <s:div id="validationDiv" rendered="#{certificatesValidationManager.getValidationDone()}">

                <s:div id="validationResultPanel" rendered="#{certificatesValidationManager.displayResult == true}">
                    #{certificatesResultDisplay.init(certificatesValidationManager.validatedCertificates.oid, certificatesValidationManager.validatedCertificates.privacyKey)}
                    <ui:include src="/tls/detailedResult.xhtml"/>
                </s:div>
                <s:div id="validationResultPanelMatrix"
                       rendered="#{certificatesValidationManager.displayResultMatrix == true}">
                    <f:facet name="header">#{messages['gazelle.evs.client.tls.validator.result.panel.title']}</f:facet>
                    <ui:include src="logTable.xhtml">
                        <ui:param name="certificates"
                                  value="#{certificatesValidationManager.validatedCertificatesMatrix}"/>
                    </ui:include>
                </s:div>
            </s:div>
        </h:form>
    </ui:define>
</ui:composition>
