<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:gazelle="http://www.ihe.net/gazelle" xmlns:rich="http://richfaces.org/rich"
                xmlns:gdk="http://www.ihe.net/gazellecdk" xmlns:a4j="http://richfaces.org/a4j"
                xmlns:ui="http://java.sun.com/jsf/facelets" xmlns="http://www.w3.org/1999/xhtml">
    <rich:panel id="validationResultPanel" rendered="#{resultDisplayManager.selectedObject != null}">
        <f:facet name="header">#{messages['gazelle.evs.client.cda.validator.result.panel.title']}</f:facet>
        <!-- buttons for download and validation -->

        <h:commandButton id="downloadMBResultB" action="#{resultDisplayManager.downloadResultAsXml('model-based')}"
                         value="#{messages['net.ihe.gazelle.evs.DownloadModelBasedValidationResult']}"
                         rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}"
                         styleClass="btn btn-default"/>
        <h:commandButton id="reusedMessageButton" action="#{resultDisplayManager.revalidate()}"
                         value="#{messages['gazelle.evs.client.reusedMessage']}" styleClass="btn btn-default"/>
        <br/>
        <br/>
        <!-- general information -->
        <s:div>
            <rich:panel styleClass="styleResultBackground" id="generalInfoPanel">
                <f:facet name="header">#{messages['gazelle.evs.client.information']}</f:facet>
                <table style="width: 100%;">
                    <tr valign="middle" style="width: 100%;">
                        <td style="overflow: auto; vertical-align: top; width: 15%; font-weight: bold;" align="right">
                            #{messages['gazelle.evs.client.cda.oid']}
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 35%;" align="left">
                            <h:outputText value="#{resultDisplayManager.selectedObject.oid}"/>
                        </td>
                        <td/>
                        <td/>
                    </tr>
                    <tr valign="middle" style="width: 100%;">
                        <td style="overflow: auto; vertical-align: top; width: 15%; font-weight: bold;" align="right">
                            #{messages['gazelle.evs.client.validation.date']}
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 35%;" align="left">
                            <g:date date="true" time="true"
                                    value="#{resultDisplayManager.selectedObject.validationDate}" tooltip="false"/>
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 15%; font-weight: bold;" align="right">
                            <h:outputText value="#{messages['net.ihe.gazelle.evs.ModelBasedValidator']}"/>
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 35%;" align="left">
                            <h:outputText value="#{resultDisplayManager.selectedObject.mbvalidator}"
                                          rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}"/>
                            <h:outputText value="#{messages['net.ihe.gazelle.evs.NA']}"
                                          rendered="#{resultDisplayManager.selectedObject.mbvalidator == null}"/>
                        </td>
                    </tr>
                    <tr valign="middle" style="width: 100%;">
                        <td style="overflow: auto; vertical-align: top; width: 15%; font-weight: bold;" align="right">
                            #{messages['gazelle.evs.client.Permanent.Link']}
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 35%;" align="left">
                            <h:outputLink value="#{resultDisplayManager.selectedObject.permanentLink()}"
                                          target="_blank">
                                <h:outputText value="#{resultDisplayManager.selectedObject.permanentLink()}"/>
                            </h:outputLink>
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 15%; font-weight: bold;" align="right">
                            #{messages['net.ihe.gazelle.evs.ModelBasedValidationResult']}
                        </td>
                        <td style="overflow: auto; vertical-align: top; width: 35%;" align="left">
                            <h:outputText styleClass="#{resultDisplayManager.getValidationStatus('model-based')}"
                                          value="#{resultDisplayManager.getValidationStatus('model-based')}"/>
                        </td>
                    </tr>
                </table>
                <s:div rendered="#{identity.loggedIn and not resultDisplayManager.selectedObject.isPublic}">
                    <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPublic']}"
                                       title="#{messages['net.ihe.gazelle.EVSClient-ui.EverybodyWillHaveAccessToThisResult']}"
                                       actionListener="#{resultDisplayManager.makeResultPublic()}"
                                        styleClass="btn btn-primary"
                                       render="generalInfoPanel"/>

                    <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.ShareThisResult']}"
                                       title="#{messages['net.ihe.gazelle.EVSClient-ui.OnlyTheUsersWhoKnowThePermanentLinkWillHaveAcces']}"
                                       actionListener="#{resultDisplayManager.shareResult()}"
                                       rendered="#{empty resultDisplayManager.selectedObject.privacyKey}"
                                        styleClass="btn btn-primary"
                                       render="generalInfoPanel"/>
                </s:div>
                <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.MakeThisResultPrivate']}"
                                   title="#{messages['net.ihe.gazelle.EVSClient-ui.ThisResultWillOnlyBeAccessibleByYouAndMonitors']}"
                                   rendered="#{identity.loggedIn         and resultDisplayManager.selectedObject.isPublic         and resultDisplayManager.selectedObject.privateUser == identity.username}"
                                   actionListener="#{resultDisplayManager.makeResultPrivate()}"
                                   styleClass="btn btn-primary"
                                   render="generalInfoPanel"/>
            </rich:panel>
            <br/>
            <br/>
        </s:div>
        <!-- detailed results -->
        <rich:tabPanel switchType="client" id="tabpanelcomm">
            <rich:tab id="tabmbv" rendered="#{resultDisplayManager.selectedObject.mbvalidator != null}" immediate="true"
                      header="#{messages['net.ihe.gazelle.evs.ModelBasedValidation_2']}">
                <h:outputText
                        rendered="#{!resultDisplayManager.selectedObject.mbValidationService.keyword.equals('MB-CDA')}"
                        value="#{resultDisplayManager.getTransformedDetailedResult('model-based')}" escape="false"/>
            </rich:tab>
        </rich:tabPanel>
        <br/>
        <br/>
        <!-- WADO file content -->
        <rich:collapsiblePanel switchType="client" id="fileContentPanel" styleClass="styleResultBackground"
                               style="overflow: auto;">
            <f:facet name="header">#{messages['net.ihe.gazelle.evs.FileContent']}</f:facet>
            <s:div rendered="#{resultDisplayManager.selectedObject != null}">
                <h:outputText value="#{resultDisplayManager.wadoUrl}"/>
            </s:div>
        </rich:collapsiblePanel>
        <br/>
        <br/>
    </rich:panel>
    <rich:panel id="badid" rendered="#{resultDisplayManager.selectedObject == null}">
        #{messages['gazelle.evs.client.cda.unknown.id']}
    </rich:panel>
    <ui:include src="/common/sendToProxyPanel4XmlBasedFiles.xhtml"/>
</ui:composition>
