<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.ValidatedHL7Messages']}"/>
    <ui:param name="pageNameUrl" value="/hl7v2/allLogs.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.evs.client.hl7.validated.messages']} (#{hl7Search.extension})"/>
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <ui:define name="body">
        <s:decorate template="/common/logTemplate.xhtml">
            <ui:param name="managedBean" value="#{hl7Search}"/>
            <!-- add criteria (validation service, profile Oid, message extract -->
            <ui:define name="specificFilters">
                <div class="col-lg-8">

                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{hl7Search.filter}"/>
                        <ui:param name="filterId" value="profileOid"/>
                        <ui:param name="filterName" value="#{messages['gazelle.evs.client.hl7.profileOID']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
                <div class="col-lg-8">
                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{hl7Search.filter}"/>
                        <ui:param name="filterId" value="validationService"/>
                        <ui:param name="filterName" value="#{messages['net.ihe.gazelle.evs.ValidationService_2']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
                <div class="col-lg-8">

                    <s:decorate template="/layout/form/_form_field_horizontal_4-8.xhtml">
                        <ui:param name="id" value="nameInput"/>
                        <ui:define name="label">#{messages['net.ihe.gazelle.evs.MessageExtract']}</ui:define>
                        <h:inputText class="form-control" id="nameInput" value="#{hl7Search.messageExtract}" >
                            <a4j:ajax event="blur" render="globalForm"/>
                        </h:inputText>
                    </s:decorate>
                </div>
            </ui:define>
            <!-- all columns (profile Oid, validation service) -->
            <ui:define name="specificColumns">
                <g:column sortBy="profileOid" filterBy="profileOid">
                    <ui:define name="header">#{messages['gazelle.evs.client.hl7.profileOID']}</ui:define>
                    <h:outputText value="#{data.profileOid}"/>
                </g:column>
                <g:column sortBy="service.name" filterBy="service.name">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.ValidationService']}</ui:define>
                    <h:outputText value="#{data.service.name}"/>
                </g:column>
            </ui:define>
        </s:decorate>
    </ui:define>
</ui:composition>
