/*
 * EVS Client is part of the Gazelle Test Bed
 * Copyright (C) 2006-2016 IHE
 * mailto :eric DOT poiseau AT inria DOT fr
 *
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.  This code is licensed
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.idclass {
    padding-right: 10px;
    color: #999999;
    background: #eeeeee;
}

.xml-bad {
    background-image: url("../img/wave.png");
    background-repeat: repeat-x;
    background-position: center;
}

.xml-warning {
    background-image: url("../img/warning_wave.png");
    background-repeat: repeat-x;
    background-position: center;
}

.xml-indented{
    background: linen;

}

.selectedNodeStyle {
    font-weight: bold;
}

.xstooltip {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 1;
    background-color: inherit;
    padding: 3px;
    border: 0;
    max-width: 1000px;
}

.templateTree {
    overflow-x: scroll;
    vertical-align: top;
}