/*
 * EVS Client is part of the Gazelle Test Bed
 * Copyright (C) 2006-2016 IHE
 * mailto :eric DOT poiseau AT inria DOT fr
 *
 * See the NOTICE file distributed with this work for additional information
 * regarding copyright ownership.  This code is licensed
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


.dr-table {
    border-top: 1px solid #c0c0c0; /*panelBorderColor*/
    border-left: 1px solid #c0c0c0; /*panelBorderColor*/
    background-color: #ffffff; /*tableBackgroundColor*/
}

.dr-table360 {
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0; /*panelBorderColor*/
    border-left: 1px solid #c0c0c0; /*panelBorderColor*/
    background-color: #ffffff; /*tableBackgroundColor*/
    width: 360px;
}

.dr-table-cell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
}

.dr-subtable-cell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
}

.dr-table-header {
    background-color: #4A75B5; /*headerBackgroundColor*/
    background-image: url(dttbl_header_bg.gif); /*from headerGradientColor to headerBackgroundColor*/
    background-position: top left;
    background-repeat: repeat-x;
}

.dr-table-headercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    color: #FFFFFF; /*headerTextColor*/
    text-align: center;
    font-weight: bold;
}

.dr-table-subheader {
    background-color: #EAF0F8; /*additionalBackgroundColor*/
}

.dr-table-subheadercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.dr-table-footer {
    background-color: #cccccc; /*tableFooterBackgroundColor*/
}

.dr-table-footercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    color: #FFFFFF; /*headerTextColor*/
    text-align: center;
    font-weight: bold;
}

.dr-table-subfooter {
    background-color: #f1f1f1; /*tableSubfooterBackgroundColor*/
}

.dr-table-subfootercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.dr-table-firstrow .dr-table-cell {
    border-top: 2px solid #c0c0c0;
}


.dr-subtable-header {
    background-color: #EAF0F8; /*additionalBackgroundColor*/
}

.dr-subtable-headercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    text-align: center;
}

.dr-subtable-footer {
    background-color: #f1f1f1; /*tableSubfooterBackgroundColor*/
}

.dr-subtable-footercell {
    border-right: 1px solid #c0c0c0; /*panelBorderColor*/
    border-bottom: 1px solid #c0c0c0; /*panelBorderColor*/
    padding: 4px 4px 4px 4px;
    text-align: center;
} 