<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.EditApplicationPreference']}"/>
    <ui:param name="pageNameUrl" value="administration/applicationPreferenceDisplay.seam"/>
    <ui:param name="pageNameTitle" value=""/>
    <ui:define name="body">
        <h:form id="globalForm">
            #{applicationConfiguration.initPreferenceApplicationDisplay()}

            <ui:decorate template="/layout/panels/_panel_title_footer_id.xhtml">

                <ui:param name="panel_id" value="preferenceEdition"/>


                <ui:define name="panel_title">
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.CreateNewApplicationPreference']}" rendered="#{applicationConfiguration.selectedPreference.id == null}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.EditApplicationPreference']}" rendered="#{applicationConfiguration.selectedPreference.id != null}"/>
                </ui:define>

                <s:div id="noServiceSelected" rendered="#{applicationConfiguration.selectedPreference == null}">
                    <h:outputText
                            value="#{messages['net.ihe.gazelle.evs.NoApplicationPreferenceSelectedCheckTheIDOfTheSe']}"/>

                </s:div>

                <s:div id="globalDiv" rendered="#{applicationConfiguration.selectedPreference != null}">


                    <div class="form-horizontal">
                        <s:decorate id="preferenceNameDecorate" template="/layout/form/_form_field_horizontal_3-9.xhtml" >
                            <ui:param name="id" value="preferenceNameId"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.PreferenceKey']}</ui:define>
                            <h:inputText id="preferenceNameId" styleClass="form-control"
                                         value="#{applicationConfiguration.selectedPreference.preferenceName}"
                                         required="true" rendered="#{applicationConfiguration.selectedPreference.id == null}">
                                        <f:validator binding="#{preferenceKeyValidator}" />
                                <a4j:ajax event="blur" render="preferenceNameDecorate" execute="@this"/>
                            </h:inputText>
                            <h:outputText  style="padding-top: 6px"
                                         value="#{applicationConfiguration.selectedPreference.preferenceName}"
                                          rendered="#{applicationConfiguration.selectedPreference.id != null}">
                            </h:outputText>
                        </s:decorate>

                        <s:decorate id="classNameDecorate" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="classNameId"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.Class']}</ui:define>
                            <h:inputText id="classNameId" styleClass="form-control"
                                         value="#{applicationConfiguration.selectedPreference.className}"
                                         required="true">
                                <a4j:ajax event="blur" render="classNameDecorate" execute="@this"/>
                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="preferenceValueDecorate" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="preferenceValueId"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.PreferenceValue']}</ui:define>
                            <h:inputText id="preferenceValueId" styleClass="form-control"
                                         value="#{applicationConfiguration.selectedPreference.preferenceValue}"
                                         required="true">
                                <a4j:ajax event="blur" render="preferenceValueDecorate" execute="@this"/>

                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="descriptionDecorate" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="descriptionId"/>
                            <ui:define name="label">#{messages['gazelle.evs.client.Description']}</ui:define>
                            <h:inputTextarea id="descriptionId" styleClass="form-control"
                                             value="#{applicationConfiguration.selectedPreference.description}" rows="5" cols="128">
                            </h:inputTextarea>
                        </s:decorate>
                    </div>
                </s:div>
                <ui:define name="panel_footer">
                    <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>

                    <s:div id="noServiceSelectedFooter" rendered="#{applicationConfiguration.selectedPreference == null}">

                        <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.BackToList']}" execute="@this"
                                           action="#{applicationConfiguration.backToPreferenceList()}"
                                           styleClass="btn btn-primary"/>
                    </s:div>
                    <s:div id="globalDivFooter" rendered="#{applicationConfiguration.selectedPreference != null}">
                        <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.SaveChanges']}" execute="@form"
                                           actionListener="#{applicationConfiguration.save()}" styleClass="gzl-btn-blue"
                                           render="globalDiv"/>
                        <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.BackToList']}"
                                           action="#{applicationConfiguration.backToPreferenceList()}" execute="@this"
                                           styleClass="gzl-btn" immediate="true"/>
                    </s:div>
                </ui:define>

            </ui:decorate>


        </h:form>
    </ui:define>
</ui:composition>
