<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml">
    <!-- parameter : standard (ReferencedStandard) -->
    <g:column sortBy="#{label}" sortOrder="ascending" filterBy="#{label}" filterEvent="onkeyup">
        <ui:define name="header">#{messages['gazelle.evs.client.Label']}</ui:define>
        <h:outputText value="#{standard.label}"/>
    </g:column>
    <g:column filterEvent="onkeyup" filterBy="#{name}" sortBy="#{name}">
        <ui:define name="header">#{messages['gazelle.evs.client.Name']}</ui:define>
        <h:outputText value="#{standard.name}"/>
    </g:column>
    <g:column>
        <ui:define name="header">#{messages['gazelle.evs.client.Version']}</ui:define>
        <h:outputText value="#{standard.version}"/>
    </g:column>
    <g:column filterEvent="onkeyup" filterBy="#{extension}">
        <ui:define name="header">#{messages['gazelle.evs.client.Extension']}</ui:define>
        <h:outputText value="#{standard.extension}"/>
    </g:column>
</ui:composition>
