<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['gazelle.common.menu.MenuStatistics']}"/>
    <ui:param name="pageNameUrl" value="/administration/statistics.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['gazelle.common.menu.MenuStatistics']}"/>
    <ui:define name="body">
        <div class="panel panel-default">
            <div class="panel-heading">
                #{messages['net.ihe.gazelle.evs.ValidationOutcomesPerValidationServiceType']}
            </div>
            <div class="panel-body">
                <h:form>
                    <f:facet name="header">#{messages['net.ihe.gazelle.evs.StatisticsOnEVSClientUsage']}</f:facet>
                    <h:outputText
                            value="#{messages['net.ihe.gazelle.evs.ThisPageDisplaysStatisticsAtAVeryHighLevelIfYouW']}"/>
                    <br/>
                    <br/>
                    <rich:dataTable value="#{statisticsManager.statistics}" var="stat"
                                    styleClass="table table-striped table-responsive" >
                        <g:column >
                            <ui:define name="header">#{messages['gazelle.evs.client.validation']}</ui:define>
                            <s:link view="/administration/statisticsByType.seam"
                                    rendered="#{not stat[0].equals('Total')}">
                                <f:param name="type" value="#{stat[1]}"/>
                                <f:param name="extension" value="All"/>
                                <h:outputText value="#{stat[0]}" style="font-weight:bold;"/>
                            </s:link>
                            <h:outputText value="#{stat[0]}" style="font-weight:bold;"
                                          rendered="#{stat[0].equals('Total')}"/>
                        </g:column>
                        <g:column sortBy="#{'[7]'}">
                            <ui:define name="header">#{messages['net.ihe.gazelle.evs.NumberOfRequests']}</ui:define>
                            #{stat[7]}
                        </g:column>
                        <g:column sortBy="#{'stat[2]'}">
                            <ui:define name="header">#{messages['gazelle.evs.client.passed']}</ui:define>
                            #{stat[2]}
                        </g:column>
                        <g:column >
                            <ui:define name="header">#{messages['gazelle.evs.client.failed']}</ui:define>
                            #{stat[3]}
                        </g:column>
                        <g:column >
                            <ui:define name="header">#{messages['gazelle.evs.client.aborted']}</ui:define>
                            #{stat[4]}
                        </g:column>
                        <g:column>
                            <ui:define name="header">#{messages['net.ihe.gazelle.evs.NOTPERFORMED']}</ui:define>
                            #{stat[5]}
                        </g:column>
                        <g:column >
                            <ui:define name="header">#{messages['net.ihe.gazelle.evs.OtherUndefinedStatus']}</ui:define>
                            #{stat[6]}
                        </g:column>
                        <g:column
                                rendered="#{s:hasRole('admin_role') and not statisticsManager.getUpdateStatus().equals('done')}">
                            <ui:define name="header">#{messages['gazelle.common.Action']}</ui:define>
                            <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.UpdateListOfCountries']}"
                                               actionListener="#{statisticsManager.updateCountries(stat[8])}"/>
                        </g:column>
                    </rich:dataTable>
                </h:form>
                <p>
                    <a href="worldMap.seam" target="blank">#{messages['net.ihe.gazelle.evs.SeeWhereUsersAreFrom']}</a>
                </p>
            </div>
        </div>

    </ui:define>
</ui:composition>
