<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->

<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.EVSClient-ui.ValidationServiceDefinition']}"/>
    <ui:param name="pageNameUrl" value="administration/validationServices.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.EVSClient-ui.ValidationServiceDefinition']}"/>
    <ui:define name="body">
        <h:form id="globalForm">
            <ui:decorate template="/layout/panels/_panel_title_footer.xhtml">


                #{validationServiceManager.initValidationServiceDisplay()}

                <ui:define name="panel_title">
                    <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.AddValidationService']}"
                                  rendered="#{validationServiceManager.selectedService.getCreation()}"/>
                    <h:outputText value="#{messages['net.ihe.gazelle.evs.EditValidationService']}"
                                  rendered="#{!validationServiceManager.selectedService.getCreation()}"/>
                </ui:define>


                <s:div id="globalDiv" rendered="#{validationServiceManager.selectedService != null}">
                    <div class="form-horizontal">

                        <s:decorate id="labelDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:define name="label">#{messages['gazelle.evs.client.Name']}</ui:define>
                            <ui:param name="id" value="name"/>
                            <h:inputText id="name" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.name}">
                                <a4j:ajax event="blur" render="labelDecoration" execute="@this"/>
                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="keywordDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="keyword"/>
                            <ui:define name="label">#{messages['gazelle.evs.client.Keyword']}</ui:define>
                            <h:inputText id="keyword" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.keyword}">
                                <a4j:ajax event="blur" render="keywordDecoration" execute="@this"/>
                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="engineDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="engineInput"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.EngineschematronModelbasedNull']})
                            </ui:define>
                            <h:inputText id="engineInput" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.engine}">
                                <a4j:ajax event="blur" render="engineDecoration" execute="@this"/>

                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="wsdlDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="wsdl"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.TargetEndpointOrPathToBinary']}
                            </ui:define>
                            <h:inputText id="wsdl" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.wsdl}">
                                <a4j:ajax event="blur" render="wsdlDecoration" execute="@this"/>
                            </h:inputText>
                        </s:decorate>

                        <s:decorate id="xslDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="xslLocation"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.XSLForTransformingResultsURL']})
                            </ui:define>
                            <h:inputText id="xslLocation" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.xslLocation}">
                                <a4j:ajax event="blur" render="xslDecoration" execute="@this"/>

                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="descriptionDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="description"/>
                            <ui:define name="label">#{messages['gazelle.evs.client.Description']}
                            </ui:define>
                            <ui:decorate template="/layout/editor/_text_editor.xhtml">
                                <ui:param name="text" value="#{validationServiceManager.selectedService.description}"/>
                                <ui:param name="id" value="description"/>
                                <ui:param name="isFocus" value="#{messages['net.ihe.gazelle.xval.True']}"/>
                            </ui:decorate>
                        </s:decorate>
                        <s:decorate id="providerDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="provider"/>
                            <ui:define name="label">#{messages['gazelle.evs.client.provider']}
                            </ui:define>
                            <h:inputText id="provider" size="60" maxlength="255"
                                         required="true" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.provider}">
                                <a4j:ajax event="blur" render="providerDecoration" execute="@this"/>

                            </h:inputText>
                        </s:decorate>
                        <s:decorate id="reportDecoration" template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="report"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.EVSClient-ui.NameOfJasperReport']}</ui:define>
                            <h:inputText id="report" size="60" maxlength="255" styleClass="form-control"
                                         value="#{validationServiceManager.selectedService.reportName}">
                                <a4j:ajax event="blur" render="reportDecoration" execute="@this"/>
                            </h:inputText>
                            <span class="gzl-icon-question-circle" title="If no report name is define, user can't download report as PDF"/>
                            <h:outputText
                                    value="#{applicationPreferenceManager.getGazelleReportsPath()}/#{validationServiceManager.selectedService.reportName}.#{messages['net.ihe.gazelle.EVSClient-ui.Jrxml']}"/>
                        </s:decorate>
                        <s:decorate id="availableDecoration"
                                    template="/layout/form/_form_checkbox_horizontal_inline.xhtml">
                            <ui:param name="id" value="availableCheckBox"/>
                            <h:selectBooleanCheckbox id="availableCheckBox"
                                                     value="#{validationServiceManager.selectedService.available}"/>
                            #{messages['gazelle.evs.client.isAvailable']}
                        </s:decorate>

                    </div>
                </s:div>


                <ui:define name="panel_footer">
                    <em class="pull-right">* #{messages['net.ihe.gazelle.evsclient.Required']}</em>

                    <a4j:commandButton value="#{messages['net.ihe.gazelle.evs.SaveChanges']}"
                                       action="#{validationServiceManager.save()}" styleClass="gzl-btn-blue"
                                       render="globalDiv" execute="@form"/>
                    <h:outputLink title="#{messages['net.ihe.gazelle.evs.BackToList']}" value="validationServices.seam"
                                  styleClass="gzl-btn">
                        <h:outputText value="#{messages['net.ihe.gazelle.evs.BackToList']}"/>
                    </h:outputLink>
                </ui:define>


            </ui:decorate>


            <ui:decorate template="/layout/panels/_panel_title.xhtml">

                <ui:define name="panel_title">
                    <h:outputText value="#{messages['net.ihe.gazelle.EVSClient-ui.AssociatedStandards']}"/>
                </ui:define>


                <h:outputText value="#{messages['net.ihe.gazelle.evs.BoundStandards']}"
                              style="font-weight:bold;"/>
                <rich:dataTable value="#{validationServiceManager.selectedService.standards}"
                                id="standard" var="inStandard" rows="#{dataScrollerMemory.numberOfResultsPerPage}"
                                render="ds1">
                    <ui:include src="/administration/standardColumns.xhtml">
                        <ui:param name="standard" value="#{inStandard}"/>
                    </ui:include>
                    <g:column>

                        <a4j:commandLink styleClass="action"
                                         title="#{messages['net.ihe.gazelle.evs.Remove']}"
                                         actionListener="#{validationServiceManager.remove(inStandard)}"
                                         onRowMouseOver="this.style.cursor='pointer'" execute="@this"
                                         render="standard availableStandards">
                            <s:span styleClass="gzl-icon-times text-info"/>
                        </a4j:commandLink>

                    </g:column>
                    <f:facet name="footer">
                        <ui:include src="/util/datatableFooter.xhtml">
                            <ui:param name="dataScrollerId" value="ds1"/>
                            <ui:param name="dataTableId" value="standard"/>
                        </ui:include>
                    </f:facet>
                </rich:dataTable>

                <h:outputText value="#{messages['net.ihe.gazelle.evs.OtherAvailableStandards']}"
                              style="font-weight:bold;"/>
                <rich:dataTable id="availableStandards" value="#{validationServiceManager.availableStandards}"
                                var="outStandard"
                                rows="#{dataScrollerMemory.numberOfResultsPerPage}" render="ds2">
                    <ui:include src="/administration/standardColumns.xhtml">
                        <ui:param name="standard" value="#{outStandard}"/>
                    </ui:include>
                    <g:column>
                        <a4j:commandLink styleClass="action"
                                         title="#{messages['net.ihe.gazelle.evs.Add']}"
                                         actionListener="#{validationServiceManager.add(outStandard)}"
                                         onRowMouseOver="this.style.cursor='pointer'" execute="@this"
                                         render="standard availableStandards">
                            <s:span styleClass="gzl-icon-plus text-info"/>
                        </a4j:commandLink>

                    </g:column>
                    <f:facet name="footer">
                        <ui:include src="/util/datatableFooter.xhtml">
                            <ui:param name="dataScrollerId" value="ds2"/>
                            <ui:param name="dataTableId" value="availableStandards"/>
                        </ui:include>
                    </f:facet>
                </rich:dataTable>


            </ui:decorate>
        </h:form>
    </ui:define>
</ui:composition>
