<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.ValidatedFHIRRequestsAndResources']}"/>
    <ui:param name="pageNameUrl" value="/fhir/allLogs.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.ValidatedFHIRRequestsAndResources']}"/>
    <ui:define name="header">
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <ui:define name="body">
        <s:decorate template="/common/logTemplate.xhtml">
            <ui:param name="managedBean" value="#{fhirSearch}"/>
            <!-- add criteria (validation service, profile Oid, message extract -->
            <ui:define name="specificFilters">
                <div class="col-lg-8">
                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{fhirSearch.filter}"/>
                        <ui:param name="filterId" value="mbvalidator"/>
                        <ui:param name="filterName" value="#{messages['net.ihe.gazelle.evs.ModelBasedValidator']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
                <div class="col-lg-8">

                    <ui:include src="/filter/filter.xhtml">
                        <ui:param name="filter" value="#{fhirSearch.filter}"/>
                        <ui:param name="filterId" value="schematron"/>
                        <ui:param name="filterName" value="#{messages['gazelle.evs.client.validation.schematron']}"/>
                        <ui:param name="filterForm" value="globalForm"/>
                    </ui:include>
                </div>
            </ui:define>
            <!-- all columns (profile Oid, validation service) -->
            <ui:define name="specificColumns">
                <g:column sortBy="#{'schematron'}" filterBy="#{'schematron'}">
                    <ui:define name="header">#{messages['gazelle.evs.client.validation.schematron']}</ui:define>
                    <h:outputText value="#{data.schematron}"/>
                </g:column>
                <g:column sortBy="#{'mbvalidator'}" filterBy="#{'mbvalidator'}">
                    <ui:define name="header">#{messages['net.ihe.gazelle.evs.ModelBasedValidator_2']}</ui:define>
                    <h:outputText value="#{data.mbvalidator}"/>
                </g:column>
            </ui:define>
        </s:decorate>
    </ui:define>
</ui:composition>
