<!--
  ~ EVS Client is part of the Gazelle Test Bed
  ~ Copyright (C) 2006-2016 IHE
  ~ mailto :eric DOT poiseau AT inria DOT fr
  ~
  ~ See the NOTICE file distributed with this work for additional information
  ~ regarding copyright ownership.  This code is licensed
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~   http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing,
  ~ software distributed under the License is distributed on an
  ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  ~ KIND, either express or implied.  See the License for the
  ~ specific language governing permissions and limitations
  ~ under the License.
  -->
<ui:composition xmlns:h="http://java.sun.com/jsf/html" xmlns:s="http://jboss.org/schema/seam/taglib"
                xmlns:g="http://www.ihe.net/gazelle" xmlns:f="http://java.sun.com/jsf/core"
                xmlns:rich="http://richfaces.org/rich" xmlns:gdk="http://www.ihe.net/gazellecdk"
                xmlns:a4j="http://richfaces.org/a4j" xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns="http://www.w3.org/1999/xhtml" template="//layout/template.xhtml">
    <ui:param name="pageName" value="#{messages['net.ihe.gazelle.evs.ValidateFHIRResourcesAndRequests']}"/>
    <ui:param name="pageNameUrl" value="/fhir/validator.seam"/>
    <ui:param name="pageNameTitle" value="#{messages['net.ihe.gazelle.evs.ValidateFHIRResourcesAndRequests']}"/>
    <ui:define name="header">
        <h:outputScript library="jscript" name="goto.js"/>
        <h:outputScript library="jscript" name="tooltip.js"/>
        <h:outputScript library="jscript" name="mbv.js"/>
        <h:outputStylesheet library="stylesheet" name="extraxml.css"/>
        <h:outputStylesheet library="stylesheet" name="resultStyle.css"/>
    </ui:define>
    <ui:define name="body">
        <s:decorate template="/common/xmlValidationTemplate.xhtml">
            <ui:param name="validationType" value="FHIR"/>
            <ui:param name="managedBean" value="#{fhirValidator}"/>
            <ui:define name="additionalInfo">
                <div class="row">
                    <div class="col-md-8">
                        <s:decorate template="/layout/form/_form_field_horizontal_3-9.xhtml">
                            <ui:param name="id" value="typeIn"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.Format']}</ui:define>
                            <h:selectOneRadio value="#{fhirValidator.selectedObjectType}"
                                              id="typeIn">
                                <f:selectItems value="#{fhirValidator.getObjectTypes()}"/>
                                <a4j:ajax event="change" render="panel_footer_id,validatorPanel"/>
                            </h:selectOneRadio>
                        </s:decorate>
                        <s:decorate template="/layout/form/_form_field_horizontal_3-9.xhtml"
                                    rendered="#{fhirValidator.isValidatingUrl()}">
                            <ui:param name="id" value="urlIn"/>
                            <ui:define name="label">#{messages['net.ihe.gazelle.evs.URLToValidate']}</ui:define>
                            <h:inputTextarea value="#{fhirValidator.urlToValidate}" styleClass="form-control" id="urlIn"
                                             cols="150" rows="5"/>
                        </s:decorate>
                    </div>
                </div>
            </ui:define>
        </s:decorate>
    </ui:define>
</ui:composition>
